{% extends "base/base.html" %} {% block content %}

<div class="container">
  <h1 class="mt-5 title">인보이스 등록</h1>
</div>

<div class="container mt-5">
    <form>
        <div class="d-inline mb-3">
            <label class="form-label" for="roomingfile"><h4>파일업로드</h4></label>
            <input type="file" class="form-control" id="roomingfile" />
        </div>
        <div class="devider"></div>
        <div class="row mt-2">
            <label for="invoicestate" class="col-sm-2 col-form-label">인보이스 형태</label>
            <div class="col-sm-5 mt-2">
              <div class="form-check form-check-inline">
                <input
                  id="local_inv"
                  type="radio"
                  class="form-check-input"
                  value="semi"
                />
                <label class="form-check-label" for="local_inv">현지</label>
              </div>
            </div>
            <div class="col-sm-5 mt-2">
              <div class="form-check form-check-inline">
                <input
                  id="agent_inv"
                  type="radio"
                  class="form-check-input"
                  value="invoice"
                />
                <label class="form-check-label" for="agent_inv">여행사</label>
              </div>
            </div>
          </div>
          <div class="devider"></div>
          <div class="row mt-2">
            <div class="text-start">
              <label for="matching" class="col-sm-1 col-form-label">단체매칭</label>
              <label class="d-none d-sm-inline-block navbar-search col-form-label">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control bg-light border"
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
              </label>
            </div>
          </div>
          <div class="devider"></div>
          <div class="row">
            <p>단체상세</p>
            <label for="totalpax" class="col-sm-2 col-form-label">TOTAL PAX</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input id="totalpax" type="text" class="form-control" />
                <div class="input-group-text">pax</div>
              </div>
            </div> 
        </div>
        <div class="row mt-2">
            <label for="roomtype" class="col-sm-2 col-form-label">ROOM TYPE</label>
            <div class="col-sm-3">
              <div class="input-group">
                <input id="twinroom" type="text" class="form-control" readonly />
                <div class="input-group-text">TWIN</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input id="tripleroom" type="text" class="form-control" readonly />
                <div class="input-group-text">TRIPLE</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input id="singleroom" type="text" class="form-control" readonly />
                <div class="input-group-text">SINGLE</div>
              </div>
            </div>
        </div>
        <div class="devider"></div>
        <div class="row">
            <label for="rate" class="col-sm-1 col-form-label">환율</label>
            <div class="col-sm-11">
                <div class="input-group mb-3">
                    <div class="col-sm-1">
                        <span class="input-group-text" style="justify-content: center;">1</span>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                    <div class="col-sm-1">
                        <span class="input-group-text" style="justify-content: center;">당</span>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                    <div class="col-sm-1">
                        <span class="input-group-text" style="justify-content: center;">원</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="devider"></div>

    </form>
</div>



    <style>
      .devider {
        width: 100%;
        height: 5px;
        border-top: rgba(155, 151, 151, 0.979) 2px solid;
        margin: 20px 10px 20px 0px;
      }
    </style>

    {% endblock %} {% block js %} {{block.super}} {% endblock js %}