{% extends "base/base.html" %} {% block content %}

<div class="container">
  <h1 class="mt-5 title">인보이스 등록</h1>
</div>

<div class="container mt-5">
  {% csrf_token %}
    <form id="invoiceFrm" method="POST" enctype="multipart/form-data" action="/upload">
        <div class="d-inline mb-3">
            <label class="form-label" for="roomingfile"><h4>파일업로드</h4></label>
            <input type="file" class="form-control" id="roomingfile" name="roomingfile" accept="image/*, .pdf, .xls, .xlsx" />
        </div>
        <button type="submit">업로드</button>
    </form>
    <form>
        <div class="devider"></div>
        <div class="row mt-2">
          <label for="bank_account" class="col-sm-2 col-form-label">인보이스 형태</label>
          <div class="col-sm-5 mt-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="local_inv">
            <label class="form-check-label " for="local_inv">
            현지
            </label>
          </div>
        </div>
        <div class="col-sm-5 mt-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="agent_inv" checked>
            <label class="form-check-label" for="agent_inv">
            여행사
            </label>
          </div>
        </div>
          <div class="devider"></div>
          <div class="row mt-2">
            <div class="text-start">
              <label for="matching" class="col-sm-1 col-form-label">단체매칭</label>
              <label class="d-none d-sm-inline-block navbar-search col-form-label">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border" aria-label="Search" aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
              </label>
            </div>
          </div>
          <div class="devider"></div>
          <div class="row">
            <p>단체상세</p>
            <label for="totalpax" class="col-sm-2 col-form-label">TOTAL PAX</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input id="totalpax" type="text" class="form-control" />
                <div class="input-group-text">pax</div>
              </div>
            </div> 
        </div>
        <div class="row mt-2">
            <label for="roomtype" class="col-sm-2 col-form-label">ROOM TYPE</label>
            <div class="col-sm-3">
              <div class="input-group">
                <input id="twinroom" type="text" class="form-control" readonly />
                <div class="input-group-text">TWIN</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input id="tripleroom" type="text" class="form-control" readonly />
                <div class="input-group-text">TRIPLE</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input id="singleroom" type="text" class="form-control" readonly />
                <div class="input-group-text">SINGLE</div>
              </div>
            </div>
        </div>
        <div class="devider"></div>
        <div class="row">
            <label for="rate" class="col-sm-2 col-form-label">환율</label>
            <div class="col-sm-2">
              <input id="rate" type="text" class="form-control text-center" value="1" readonly />
            </div>
          <div class="col-sm-1">
            <select class="form-select col-sm-3" id="rate_unit" name="rate_unit"aria-label="currency" onchange="getselect();"> 
              <option selected>단위</option>
              <option value="유로">€</option>
              <option value="달러">＄</option>
              <option value="파운드">￡</option>
            </select>
          </div>
          <div class="col-sm-1"></div>
            <label for="rate_won" class="col-sm-1 col-form-label">원화</label>
            <div class="col-sm-3">
              <input id="rate_won" type="text" class="form-control" />
            </div>
           </div>
        <div class="devider"></div>
        <div class="row mt-3">
          <label for="remark" class="col-sm-2 col-form-label">REMARK</label>
          <div class="col-sm-10">
            <textarea id="remark" class="form-control" style="height: 100px"></textarea>
          </div>
        </div>
        <div class="devider"></div> 
        <div class="row">
          <p><h5>상세내역</h5></p>
          <div class="text-end">
            <input type="button" class="btn btn-primary"  onclick="addRow()" value="추가">
            <input type="button" class="btn btn-secondary" onclick="delRow()" value="삭제">
          </div>
          <table class="table text-center" id="invList">
            <thead class="table-light">
              <tr>
                <th scope="col" style="width: 5%;">삭제</th>
                <th scope="col" style="width: 5%;">NO.</th>
                <th scope="col" style="width: 25%;">항목명</th>
                <th scope="col" style="width: 10%;">금액</th>
                <th scope="col" style="width: 8%;">인원</th>
                <th scope="col" style="width: 8%;">박수</th>
                <th scope="col" style="width: 14%;">합계</th>
                <th scope="col" style="width: 20%;">비고</th>
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
        </div>
        <div class="devider"></div>
        <div class="p-2 bg-warning text-dark">
          <div class="row">
            <label for="total_rate" class="col-sm-2 col-form-label">합계</label>
            <div class="col-sm-3">
              <input id="totalSum" type="text" class="form-control" readonly />
            </div>
            <div class="col-sm-1">
              <input id="total_rate_" type="text" class="form-control text-center" value="" readonly />
            </div>
            <div class="col-sm-1"></div>
            <label for="tota_rate" class="col-sm-1 col-form-label"></label>
            <div class="col-sm-3">
              <input id="totalSum_won" type="text" class="form-control" readonly />
            </div>
            <div class="col-sm-1">
              <input id="tota_rate_won" type="text" class="form-control text-center" value="원" readonly />
            </div>
          </div>
        </div>
          <div class="devider"></div>
          <div class="row">
            <label for="bank_account" class="col-sm-2 col-form-label">BANK ACCOUNT</label>
            <div class="col-sm-4 mt-2">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="overseas_bank" value="overseas" onchange="setDisplay()">
                <label class="form-check-label" for="overseas_bank">해외</label>
              </div>
            </div>
            <div class="col-sm-4 mt-2">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="domestic_bank" value="domestic" onchange="setDisplay()">
                <label class="form-check-label" for="domestic_bank">국내</label>
              </div>
            </div>
            <div class="col-sm-2 text-end">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">검색하기</button>
            </div>
            <div class="row mt-5" id="overseas1" style="display:none;">
              <label for="bank_name" class="col-sm-20 col-form-label">BANK</label>
              <div class="col-sm-4">
                <input id="bank" type="text" class="form-control" readonly />
              </div>
              <div class="col-sm-1"></div>
              <label for="branch" class="col-sm-20 col-form-label">BRANCH</label>
              <div class="col-sm-4">
                <input id="branch" type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="row mt-2" id="overseas2" style="display:none;">
              <label for="account_name" class="col-sm-20 col-form-label">BANK NAME</label>
              <div class="col-sm-4">
                <input id="bank_name" type="text" class="form-control" readonly />
              </div>
              <div class="col-sm-1"></div>
              <label for="account" class="col-sm-20 col-form-label">ACCOUNT NO.</label>
              <div class="col-sm-4">
                <input id="account" type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="row mt-2" id="overseas3" style="display:none;">
              <label for="swift" class="col-sm-20 col-form-label">SWIFT</label>
              <div class="col-sm-4">
                <input id="swift" type="text" class="form-control" readonly />
              </div>
              <div class="col-sm-1"></div>
              <label for="iban" class="col-sm-20 col-form-label">IBAN CODE</label>
              <div class="col-sm-4">
                <input id="iban" type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="row mt-5" id="domestic1" style="display:none;">
            <label for="ko_bank" class="col-sm-20 col-form-label">은행명</label>
            <div class="col-sm-4">
              <input id="ko_bank" type="text" class="form-control" readonly />
            </div>
            <div class="col-sm-1"></div>
            <label for="ko_account" class="col-sm-20 col-form-label">계좌번호</label>
            <div class="col-sm-4">
              <input id="ko_account" type="text" class="form-control" readonly />
            </div>
          </div>
          <div class="row mt-2" id="domestic2" style="display:none;">
            <label for="ko_name" class="col-sm-20 col-form-label">예금주</label>
            <div class="col-sm-4">
              <input id="ko_name" type="text" class="form-control" readonly />
            </div>
          </div>




          <div class="text-end mt-5">
            <button type="submit" class="btn btn-primary">저장</button>
            <button type="reset" id="btn_reset" class="btn btn-secondary">초기화</button>
            <button type="button" class="btn btn-secondary">취소</button>
          </div>
          <div class="mt-5"></div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">은행검색</h5>
		<button type="button" class="btn btn-success" onclick="searchBank();">검색</button>
	</div>
	<div class="modal-body">
			<div class="row mt-2 col-12">
				<label for="bank_name" class="col-3 col-form-label">은행명</label>
				<div class="col-9">
				  <input id="bank_name" name="bank_name" type="text" class="form-control" />
				</div>
			</div>
			<div class="row mt-2 col-12">
        <label for="account_name" class="col-3 col-form-label">예금주명</label>
				<div class="col-9">
				  <input id="account_name" name="account_name" type="text" class="form-control" />
				</div>
			</div>
    </div>
		<div class="devider"></div>
      <div class="row col-12" id="">
        <div class="col-4" style="text-align: center;">은행명</div>
        <div class="col-4" style="text-align: center;">예금주</div>
        <div class="col-4" style="text-align: center;">계좌번호</div>
      </div>
      <div class="row col-12" id="result_div">
      </div>
  </div>
</div>






<script>

	function searchBank(){
		var bankName = $(".modal-body #bank_name").val();
		var accountName = $(".modal-body #account_name").val();

		$("#tmpSearchBankFrm").remove();
		var frm = makeForm('', 'tmpSearchBankFrm');

		if (bankName == undefined || bankName == 'undefined' || bankName == ''){
		}
		else{
			frm.appendChild(addData('bank_name', bankName));
		}

		if (accountName == undefined || accountName == 'undefined' || accountName == ''){
		}
		else{
			frm.appendChild(addData('account_name', accountName));
		}

		frm.appendChild(addData('use_yn', 'Y'));
		document.body.appendChild(frm);
	
		getAjax('tmpSearchBankFrm', 'bank', 'searchBankSucc');

	}

  var searchMaster;

	function searchBankSucc(data){
    searchMaster = '';
		searchMaster = data;
    var result = $("#result_div");
    result.empty();
    for (var i = 0; i < data.length; i ++){
      result.append("<div class='col-4 mt-2' style='text-align: center;' data-row="+i+">"+data[i].bank_name+"</div>")
      result.append("<div class='col-4 mt-2' style='text-align: center;' data-row="+i+">"+data[i].account_name+"</div>")
      result.append("<div class='col-4 mt-2' style='text-align: center;' data-row="+i+">"+data[i].account_no+"</div>")
    }
  }



  $(document).on('dblclick', '#result_div > div', function() {
      var row = $(this).data('row');
      var id = searchMaster[row].id;

      // 각각의 input에 데이터 넣기
      for (var key in searchMaster[row]) {
        var value = searchMaster[row][key];
        var element = $('#invoiceFrm [name="' + key + '"]');
        if (element.is('input')) {
          element.val(value);
        } else if (element.is('textarea')) {
          element.text(value);
}
      }
      // 디테일 검색 이후 모달 닫기
      console.log(searchMaster)
      $('#myModal').modal('hide');
      
      // 이후 master id로 스케쥴 디테일 가져오기
      searchBankDetail(id);
  });


var sum = 0;

function addRow() {

	var selectedText = $("#rate_unit option:selected").text();

	var tbody = document.getElementById("tbody");
	var row = tbody.insertRow(-1)
	var cell1 = row.insertCell(0);
	var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
	var cell4 = row.insertCell(3);
	var cell5 = row.insertCell(4);
	var cell6 = row.insertCell(5);
	var cell7 = row.insertCell(6);
	var cell8 = row.insertCell(7);

	// cell 1
	var checkbox = document.createElement('input');
		checkbox.type = "checkbox";
		checkbox.style.width = "100%";
		checkbox.id = "checkbox";
		cell1.appendChild(checkbox);
   
	// cell 2
	cell2.innerHTML = "<td class='col'>"+tbody.rows.length+"</td>";

	// cell 3
   	var title = document.createElement('input');
		title.type = "text";
		title.style.width = "100%";
		title.className = "form-control";
		title.id = "title";
		cell3.appendChild(title);

	// cell 4
   	var div1 = document.createElement('div');
   		div1.className = "row";
	var price = document.createElement('input');
		price.type = "text";
		price.style.width = "60%";
		price.className = "form-control";
		price.id = "price";
		price.onkeyup = multi;
		div1.appendChild(price);
	var input_rate = document.createElement('input');
		input_rate.className = "form-control text-center";
		input_rate.id = 'rate';
		input_rate.style.width = "40%";
		input_rate.value = selectedText;
		input_rate.readOnly = true;
		div1.appendChild(input_rate);
		cell4.appendChild(div1);

	// cell 5
	var pax = document.createElement('input');
		pax.type = "text";
		pax.style.width = "100%";
		pax.id = "pax";
		pax.className = "form-control";
		pax.onkeyup = multi;
		cell5.appendChild(pax);
	
	// cell 6
	var night = document.createElement('input');
		night.type = "text";
		night.style.width = "100%";
		night.id = "night";
		night.className = "form-control";
		night.onkeyup = multi;
		cell6.appendChild(night);

	// cell 7
	var div2 = document.createElement('div');
		div2.className = "row";
	var total = document.createElement('input');
		total.type = "text";
		total.className = "form-control";
		total.style.width = "70%";
		total.readOnly = true;
		total.tabIndex = -1;
		total.id = "total";
	var selectUnit2 = document.createElement('input');
		selectUnit2.type = "text";
    selectUnit2.className = "form-control text-center";
		selectUnit2.style.width = "30%";
		selectUnit2.readOnly = true;
		selectUnit2.id = "selectUnit";
		div2.appendChild(total);
		div2.appendChild(selectUnit2);
		cell7.appendChild(div2);
	
	// cell 8
	var note = document.createElement('input');
		note.type = "text";
		note.style.width = "100%";
		note.id = "note";
		note.className = "form-control";
		cell8.appendChild(note);
}

function delRow() {
  var tbody = document.getElementById("tbody");
  for(var i = 1 ; i<tbody.rows.length;i++){
    var checkbox = tbody.rows[i].cells[0].childNodes[0].checked;

    if(checkbox){
      tbody.deleteRow(i);
i--;
    }
  }
}
function multi() {
	// event 현재 이벤트가 일어난 놈
    var currentRow = event.target.closest('tr');
    var a = parseInt(currentRow.querySelector('#price').value) | 0;
    var b = parseInt(currentRow.querySelector('#pax').value) | 0;
    var c = parseInt(currentRow.querySelector('#night').value) | 0;

    currentRow.querySelector('#total').value = a*b*c;

    var rows = document.querySelectorAll('#tbody tr');
    var totalSum = 0;
    for (var i = 0; i < rows.length; i++) {
      var rowTotal = parseInt(rows[i].querySelector('#total').value) | 0;
      totalSum += rowTotal;
    }
    document.getElementById('totalSum').value = totalSum.toLocaleString();

  // totaSum의 값과 입력한 환율금액(rate_won)의 계산
    var rate_won = parseInt(document.getElementById('rate_won').value) || 0;
    var totalSum_won = rate_won * totalSum;
    document.getElementById('totalSum_won').value = totalSum_won.toLocaleString();
}

function getselect() {
	// select에서 선택한 value 가져오기
	var selectedValue = $("#rate_unit").val();
	// select에서 선택한 글자 가져오기
	var selectedText = $("#rate_unit option:selected").text();

	var rows = document.querySelectorAll('#tbody tr');
    for (var i = 0; i < rows.length; i++) {
      rows[i].querySelector('#rate').value = selectedText;
      rows[i].querySelector('#selectUnit').value = selectedText; 
    }

	$("#total_rate_").val(selectedValue);

}

function setDisplay() {
  if($('input:radio[id=overseas_bank]').is(':checked')){
    $('#overseas1').show();
    $('#overseas2').show();
    $('#overseas3').show();
    $('#domestic1').hide();
    $('#domestic2').hide();
  }else{
    $('#overseas1').hide();
    $('#overseas2').hide();
    $('#overseas3').hide();
    $('#domestic1').show();
    $('#domestic2').show();
  }
}


$(document).ready(function() {  
	$.fn.clearForm = function(){
		var tabindex = 1;
		$(this).each(function(){
			this.reset();
		});
		$(this).find('input,select').each(function(){
			if (this.type != "hidden") {
				$(this).attr("tabindex", tabindex);
				tabindex++;
			}
		});
	}

	$("#btn_reset").click(function(){
		$("#frm_user_info").clearForm();
	});
});


</script>

<style>
  .devider {
    width: 100%;
    height: 5px;
    border-top: rgba(155, 151, 151, 0.979) 2px solid;
    margin: 20px 10px 20px 0px;
  }


  .col-sm-20 {
    flex: 0 0 auto;
    width: 11%;
  }

</style>

    {% endblock %} {% block js %} {{block.super}} {% endblock js %}