
{% extends "base/base.html" %} 
{% block content %}

<div class="container">
	<h1 class="mt-5 title">수배등록</h1>
</div>

<div class="container mt-5">
	<form id="bookingFrm">
	{% csrf_token %}
		<div class="input-group mb-3">
			<span class="input-group-text col-2 text-end" >ref</span>
			<input type="text" class="form-control col-4 me-3" id="ref" name="ref" value="{{selectData.master.0.ref}}">
			<th scope="col"></th>
			{% if pageType == 'I' %}
				<input type="hidden" id="yyyy" name="yyyy" value="{{ now|date:'Y' }}">
			{% else %}
				<input type="hidden" id="yyyy" name="yyyy" value="{{selectData.master.0.yyyy}}">
			{% endif%}
			
			<span class="input-group-text col-2 text-end" >상품명</span>
			<input type="text" class="form-control col-4" id="product_name" name="product_name" value="{{selectData.master.0.product_name}}">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text col-2 text-end" >URL</span>
			<input type="text" class="form-control col-10" id="url" name="url" value="{{selectData.master.0.url}}">
		</div>

		<div class="devider"></div>

		<div class="input-group mb-3">
			<span class="input-group-text col-2" >상품담당자</span>
			<div class="col-sm-2">
				<select class="form-select selectpicker " id="" name="" aria-label="" data-live-search="true" data-none-selected-text="조건을 찾을 수 없습니다" style="border:1px black solid">
					<option>담당자</option>
					<option value=""></option>
				</select>
			</div>
		</div>

		<div class="devider"></div>

		<div class="input-group mb-3">
			<span class="input-group-text col-2" >여행사</span>
			<select class="form-select selectpicker col-4 me-3" id="attn_agent" name="attn_agent" aria-label="attn_agent" onchange="changeAgent(this)" data-live-search="true" data-none-selected-text="조건을 찾을 수 없습니다" style="border:1px black solid">
				<option>여행사명</option>
				{% for agent in optionData.agent %}
				<!-- optionData 로 온 Object에서 agent만 선택하여 for문 돌린다-->
				<option value="{{agent.id}}" {% if agent.agent_name == selectData.master.0.attn_agent.agent_name %}selected{% endif %}>{{agent.agent_name}}</option>
				{% endfor %}
			</select>
			<span class="input-group-text col-2" >담당자</span>
			<select class="form-select selectpicker col-4" id="attn_manager" name="attn_manager" aria-label="attn_manager" data-live-search="true" style="display: none;" id="manager" data-none-selected-text="조건을 찾을 수 없습니다">
				<option>담당자명</option>
				{% for manager in optionData.manager %}
					{% if manager.id == selectData.master.0.attn_manager.id %}
						<option value="{{manager.id}}" selected>{{manager.manager_name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text col-2" >현지사무실</span>
			<select class="form-select selectpicker col-4 me-3" id="from_agent" name="from_agent" aria-label="from_agent" onchange="changeAgent(this)" data-live-search="true" data-none-selected-text="조건을 찾을 수 없습니다">
				<option>현지사무실명</option>
				{% for agent in optionData.localAgent %}
				 <option value="{{agent.id}}" {% if agent.agent_name == selectData.master.0.from_agent.agent_name %} selected {% endif %} >{{agent.agent_name}}</option>
				{% endfor %}
			</select>
			
			<span class="input-group-text col-2" >담당자</span>
			<select class="form-select selectpicker col-4" id="from_manager" name="from_manager" aria-label="from_manager" data-live-search="true" data-none-selected-text="조건을 찾을 수 없습니다">
			  <option>담당자명</option>
			  	{% for manager in optionData.localManager %}
					{% if manager.id == selectData.master.0.from_manager.id %}
						<option value="{{manager.id}}" selected>{{manager.manager_name}}</option>
					{% endif %}
				{% endfor %}
			</select>
	  	</div>

		<div class="devider"></div>

		<h5>AIR</h5>
		<div class="input-group mb-3">
			<span class="input-group-text col-2" >한국출발</span>
			<input type="text" class="form-control col-2 datepicker me-3" id="kor_air_date" name="kor_air_date" placeholder="출발일" value="{{selectData.master.0.kor_air_date}}" />
			<span class="input-group-text col-2" >항공편</span>

			<select class="form-select selectpicker col-2" id="kor_air" name="kor_air" data-live-search="true" data-size="5" onchange="select_air(this)">
				<option selected>항공편명</option>
				{% for airport in optionData.airport %}
					<option value="{{airport.id}}" data-out="{{airport.arrival_airport}}" data-in="{{airport.departure_airport}}" data-timedep="{{airport.departure_time}}" data-timearri="{{airport.arrival_time}}" {% if airport.id == selectData.master.0.kor_air %}selected{% endif %}>{{airport.airport_name}}</option>
				{% endfor %}
			</select>
			<input type="text" class="form-control col mx-1" id="kor_air_in" name="kor_air_in" readonly value="{{selectData.master.0.kor_air_in}}" />
			<input type="text" class="form-control col mx-1"id="kor_air_out" name="kor_air_out"  readonly value="{{selectData.master.0.kor_air_out}}" />
			<input type="text" class="form-control col mx-1"id="kor_air_dep_time" name="kor_air_dep_time"  readonly value="{{selectData.master.0.kor_air_dep_time}}" />
			<input type="text" class="form-control col mx-1"id="kor_air_ari_time" name="kor_air_ari_time"  readonly value="{{selectData.master.0.kor_air_ari_time}}" />
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text col-2" >현지출발</span>
			<input type="text" class="form-control col-2 datepicker me-3" id="loc_air_date" name="loc_air_date" placeholder="현지출발일" value="{{selectData.master.0.loc_air_date}}"/>
			<span class="input-group-text col-2" >항공편</span>
			<select class="form-select selectpicker col-2" id="loc_air" name="loc_air" data-live-search="true" data-size="5" onchange="select_air(this)">
				<option selected>항공편명</option>
				{% for airport in optionData.airport %}
					<option value="{{airport.id}}" data-out="{{airport.arrival_airport}}" data-in="{{airport.departure_airport}}" data-timedep="{{airport.departure_time}}" data-timearri="{{airport.arrival_time}}" {% if airport.id == selectData.master.0.loc_air %}selected{% endif %}>{{airport.airport_name}}</option>
				{% endfor %}
			</select>
			<input type="text" class="form-control col mx-1" id="loc_air_in" name="loc_air_in" readonly value="{{selectData.master.0.loc_air_in}}"/>
			<input type="text" class="form-control col mx-1"id="loc_air_out" name="loc_air_out"  readonly value="{{selectData.master.0.loc_air_out}}"/>
			<input type="text" class="form-control col mx-1"id="loc_air_dep_time" name="loc_air_dep_time"  readonly value="{{selectData.master.0.loc_air_dep_time}}"/>
			<input type="text" class="form-control col mx-1"id="loc_air_ari_time" name="loc_air_ari_time"  readonly value="{{selectData.master.0.loc_air_ari_time}}"/>
		</div>

		<div class="devider"></div>

		<h5>MEAL</h5>
		<div class="input-group mb-3">
			<span class="input-group-text col-2" >조식</span>
			<input type="text" class="form-control col-2 me-3" id="breakfast" name="breakfast" readonly>
			<span class="input-group-text col-2" >중식</span>
			<input type="text" class="form-control col-2 me-3" id="lunch" name="lunch" readonly>
			<span class="input-group-text col-2" >석식</span>
			<input type="text" class="form-control col-2 me-3" id="dinner" name="dinner" readonly>

			<button type="button" class="form-control btn btn-primary col-4" data-toggle="modal" data-target="#myModal">
		  		등록일정 검색
			</button>
	  	</div>
	  	<div class="input-group mb-3">
			<span class="input-group-text col-2" >특식</span>
			<textarea class="form-control col-10" id="special" name="special"  style="height: 80px"></textarea>
		</div>

		<div class="devider"></div>
		
		<div class="input-group mb-3">
			<span class="input-group-text col-2" >PAX</span>
			<textarea class="form-control col-10" id="pax" name="pax"  style="height: 80px"></textarea>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text col-2" >HOTEL</span>
			<textarea class="form-control col-10" id="hotel" name="hotel"  style="height: 80px"></textarea>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text col-2" >BUS</span>
			<textarea class="form-control col-10" id="bus" name="bus"  style="height: 80px"></textarea>
		</div>

		<div class="devider"></div>

		<h5>상품구성</h5>
		<div class="input-group mb-3">
			<span class="input-group-text col-2">ENTRANCE</span>
			<textarea class="form-control col-10" id="entrance" name="entrance"  style="height: 80px"></textarea>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text col-2" >포함</span>
			<textarea class="form-control col-10" id="include" name="include"  style="height: 80px"></textarea>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text col-2" >불포함</span>
			<textarea class="form-control col-10" id="not_include" name="not_include"  style="height: 80px"></textarea>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text col-2" >옵션투어</span>
			<textarea class="form-control col-10" id="option" name="option"  style="height: 80px"></textarea>
		</div>


		<div class="devider"></div>

		<h5>GUIDE</h5>
		<div class="input-group mb-3">
			<span class="input-group-text col-2" >KOR</span>
			<textarea class="form-control col-4 me-3" id="kor_guide" name="kor_guide"  style="height: 80px"></textarea>
			<span class="input-group-text col-2" >LOC</span>
			<textarea class="form-control col-4" id="loc_guide" name="loc_guide"  style="height: 80px"></textarea>
		</div>
		<div class="devider"></div>

		<div class="input-group mb-3">
			<span class="input-group-text col-2" >REMARK</span>
			<textarea class="form-control col-10" id="remark" name="remark"  style="height: 100px"></textarea>
		</div>
		<input type="hidden" id="use_yn" name="use_yn" value="Y">
	</form>

	<div class="devider"></div>

	<h5>SCHDULE</h5>
	<div class="input-group mb-3">
		<table class="table  text-center" id="schdule_table" >
		</table>
	</div>

	<div class="devider"></div>

	<h5>HOTEL</h5>
	<div class="input-group mb-3">
		<table class="table text-center"  id="hotel_table"  >
		</table>
	</div>

	<div class="text-end mt-5">
		<button type="submit" class="btn btn-primary" onclick="saveData();">저장</button>
		<button type="button" class="btn btn-secondary">취소</button>
	</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">일정검색</h5>
		<button type="button" class="btn btn-success" onclick="searchSchedule();">검색</button>
	</div>
	<div class="modal-body">
		<div class="input-group" >
			<div class="row mt-2 col-12">
				<label for="prodName" class="col-2 col-form-label">상품명</label>
				<div class="col-10">
				  <input id="product_name" name="product_name" type="text" class="form-control" />
				</div>
			</div>
			<div class="row mt-2 col-12">
				<label for="agent" class="col-2 col-form-label">여행사</label>
				<div class="col-4">
					<select class="form-control selectpicker" aria-label="agent_name" onchange="changeAgent(this)" data-live-search="true" style="display: none;" id="agent" data-none-selected-text="조건을 찾을 수 없습니다">
						<option value="">여행사명</option>
						{% for agent in optionData.agent %}
						<!-- optionData 로 온 Object에서 agent만 선택하여 for문 돌린다-->
						<option value="{{agent.id}}">{{agent.agent_name}}</option>
						{% endfor %}
					</select>
				</div>
				<label for="manager" class="col-2 col-form-label">담당자</label>
				<div class="col-4">
					<select class="form-control  selectpicker" aria-label="manager" data-live-search="true" style="display: none;" id="manager" data-none-selected-text="조건을 찾을 수 없습니다">
						<option value="">담당자명</option>
					</select>
				</div>
			</div>
		</div>
		<div class="devider"></div>
		<div class="row col-12" id="">
		  <div class="col-8" style="text-align: center;">상품명</div>
		  <div class="col-1" style="text-align: center;">박</div>
		  <div class="col-1" style="text-align: center;">일</div>
		  <div class="col-2" style="text-align: center;">담당자</div>
		</div>
		<div class="row col-12" id="result_div">

		</div>
	  </div>
	  </div>
	</div>
  </div>
</div>

<script>
	
function saveData(){

	var jsonData = $("#bookingFrm").serializeArray()
	$.ajax({
		url: '/ajax/insertData/master/booking', // 앞에 자동으로 setting/agent 붙음
		method: 'POST',
		data: jsonData,
		dataType: 'json',
		success: function(data) {
			id = data.id
			saveDetail(id);
		},
		error: function(xhr, status, error) {
			alert('등록 실패')
		}
	});
}

function saveDetail(id){
	$('input[name="master_id"]').val(id);
	var sch = tableToJson(document.getElementById('schdule_table'));
	var hot = tableToJson(document.getElementById('hotel_table'));

	var tableJson = mergeJson(sch, hot);

	$.ajax({
		url: '/ajax/insertData/detail/booking', // 앞에 자동으로 setting/agent 붙음
		method: 'POST',
		data: JSON.stringify(tableJson),
		headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() }, // CSRF 토큰을 HTTP 헤더에 추가
		dataType: 'json',
		success: function(data) {
			alert('입력 완료 목록 화면으로 이동합니다.')
		},
		error: function(xhr, status, error) {
			alert('등록 실패')
		}
	});
}

function searchSchedule(){
	var prodName = $(".modal-body #product_name").val();
	var agent = $(".modal-body #agent").val();
	var manager = $(".modal-body #manager").val();

	$("#tmpSearchScheduleFrm").remove();
	var frm = makeForm('', 'tmpSearchScheduleFrm');

	if (prodName == undefined || prodName == 'undefined' || prodName == ''){
	}
	else{
		frm.appendChild(addData('product_name', prodName));
	}

	if (agent == undefined || agent == 'undefined' || agent == ''){
	}
	else{
		frm.appendChild(addData('agent', agent));
	}

	if (manager == undefined || manager == 'undefined' || manager == ''){
	}
	else{
		frm.appendChild(addData('manager', manager));
	}
	frm.appendChild(addData('use_yn', 'Y'));
	document.body.appendChild(frm);

	getLikeAjax('tmpSearchScheduleFrm', 'scheduleMaster', 'searchScheduleSucc');

}

var searchMaster;
function searchScheduleSucc(data){
	searchMaster = '';
		searchMaster = data;
	// 상품명 / 몇박 몇일 / 담당자
	var result = $("#result_div");
	result.empty();
	for (var i = 0; i < data.length; i ++){
		result.append("<div class='col-8' style='text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;' data-row="+i+">"+data[i].product_name+"</div>")
		result.append("<div class='col-1' style='text-align: center;' data-row="+i+">"+data[i].night+"</div>")
		result.append("<div class='col-1' style='text-align: center;' data-row="+i+">"+data[i].day+"</div>")
		result.append("<div class='col-2' style='text-align: center;' data-row="+i+">"+data[i].manager_id+"</div>")
	}
}

function searchScheduleDetail(master_id){
	$("#tmpSearchScheduleDeatilFrm").remove();
	var frm = makeForm('', 'tmpSearchScheduleDeatilFrm');
	frm.appendChild(addData('use_yn', 'Y'));
	frm.appendChild(addData('master_id', master_id));
	document.body.appendChild(frm);
	
	getAjax('tmpSearchScheduleDeatilFrm', 'scheduleDetail', 'searchScheduleDetailSucc');

}

function searchScheduleDetailSucc(data){
	var detail = $("#schdule_table");
	var hotel =  $("#hotel_table");
	detail.empty();
	hotel.empty();

	///// 날짜 입력 관련 
	// 선택된 날짜로 Date 변수를 만든다
	var tmpDate = $("#kor_air_date").val();
	var selDate;
	if (tmpDate == ''){
	selDate = new Date();
	}
	else{
	selDate = new Date(tmpDate);
	}
	// 해당 날짜에서 년,월,일을 각각 뽑는다. ( month는 +1을 해줘야 해당 month 가 제대로 나옴)
	var selYear = selDate.getFullYear();
	var selMonth = selDate.getMonth()+1;
	var selDay = selDate.getDate();
	///// 날짜 입력 관련 

	var sch_table = $("#schdule_table");
	var hot_table = $("#hotel_table");

	// 스케쥴 생성 
	sch_table.empty();
	var basic="";
		basic += '<thead>';
		basic += '<tr>';
		basic += '<td class="col-1" name="day">일차</td>';
		basic += '<td class="col-2" name="">날짜</td>';
		basic += '<td class="col-9" name="">일정</td>';
		basic += '</tr>';
		basic += '</thead>';
		sch_table.append(basic);
	
	var sche = '<tbody>';
	for (var i = 0 ; i < data.length ; i ++ ){
		sche += '<tr>';
		sche += "<td scope='col'>"+data[i].day+"일차</td>";

		var toDate = new Date(selYear, selMonth, selDay + i);
		var toYear = toDate.getFullYear();
		var toMonth = ('0' +toDate.getMonth()).slice(-2);// 앞에 0을 붙이고 뒤에서 2개만 선택한다. 1자리수 인경우 앞에 0붙이는것
		var toDay = ('0' +toDate.getDate()).slice(-2);
		sche += "<td scope='col'><input type='text' class='form-control' id='date' name='date' style='width:100%; border: 0;' value='"+toYear+'-'+toMonth+"-"+toDay+"'></td>";
		sche += "<td scope='col'><input type='text' class='form-control' id='schedule' name='schedule' style='width:100%; border: 0;' value='"+data[i].schedule+"'><input type='hidden' id='master_id' name='master_id'><input type='hidden' id='type' name='type' value='S'><input type='hidden' id='use_yn' name='use_yn' value='Y'></td>";
		sche += '</tr>'
	}
	sche +='</tbody>'
	sch_table.append(sche);

	// 호텔 생성
	hot_table.empty();
	var basic="";
		basic += '<thead>';
		basic += '<tr>';
		basic += '<td class="col-2" name="date">날짜</td>';
		basic += '<td class="col-1" name="loc">지역</td>';
		basic += '<td class="col-1" name="day">숙박일수</td>';
		basic += '<td class="col-4" name="hotel">호텔</td>';
		basic += '<td class="col-4" name="remark">비고</td>';
		basic += '</tr>';
		basic += '</thead>';
		hot_table.append(basic);
	
	var sche = '<tbody>';
	for (var i = 0 ; i < data.length ; i ++ ){
		sche += '<tr>';

		var toDate = new Date(selYear, selMonth, selDay + i);
		var toYear = toDate.getFullYear();
		var toMonth = ('0' +toDate.getMonth()).slice(-2);// 앞에 0을 붙이고 뒤에서 2개만 선택한다. 1자리수 인경우 앞에 0붙이는것
		var toDay = ('0' +toDate.getDate()).slice(-2);
		sche += "<td scope='col'><input type='text' class='form-control' id='date' name='date' style='width:100%; border: 0;' value='"+toYear+'-'+toMonth+"-"+toDay+"'></td>";
		if (data[i].hotel == ''){
			sche += "<td scope='col'><input type='text' class='' id='hotel' name='hotel' class='text-center' style='width:100%; border: 0;' readonly></td>";  
			sche += "<td scope='col'><input type='text' class=''  id='hotel_day' name='hotel_day' style='width:100%; border: 0;' readonly></td>";  
			sche += "<td scope='col'><input type='text' class=''  id='hotel_name' name='hotel_name' style='width:100%; border: 0;' readonly></td>";  
			sche += "<td scope='col'><input type='text' class=''  id='remark' name='remark' style='width:100%; border: 0;' readonly><input type='hidden' id='master_id' name='master_id'><input type='hidden' id='type' name='type' value='H'><input type='hidden' id='use_yn' name='use_yn' value='Y'></td>";  
		}
		else{
			sche += "<td scope='col'><input type='text' class='form-control' id='hotel' name='hotel' class='text-center' style='width:100%;  text-align: center;' value='"+data[i].hotel+"'></td>";  
			sche += "<td scope='col'><input type='text' class='form-control' id='hotel_day' name='hotel_day' style='width:100%; border: 0;'></td>";  
			sche += "<td scope='col'><input type='text' class='form-control' id='hotel_name' name='hotel_name' style='width:100%; border: 0;'></td>";  
			sche += "<td scope='col'><input type='text' class='form-control' id='remark' name='remark' style='width:100%; border: 0;'><input type='hidden' id='master_id' name='master_id'><input type='hidden' id='type' name='type' value='H'><input type='hidden' id='use_yn' name='use_yn' value='Y'></td>"; 
		}
		sche += '</tr>'
	}
	sche +='</tbody>'
	hot_table.append(sche);


}

$(document).on('dblclick', '#result_div > div', function() {
	var row = $(this).data('row');
	var id = searchMaster[row].id;
	// 여행사, 담당자 넣기
	var agent = $("#tmpSearchScheduleFrm #agent").val();
	var manager = $("#tmpSearchScheduleFrm #manager").val();
	$('#bookingFrm select[name="agent"]').selectpicker('val', agent);
	$('#bookingFrm select[name="manager"]').selectpicker('val', manager);
	  // 각각의 input에 데이터 넣기
	for (var key in searchMaster[row]) {
		var value = searchMaster[row][key];
		var element = $('#bookingFrm [name="' + key + '"]');
		
		if (element.is('input')) {
			element.val(value);
		} else if (element.is('textarea')) {
		  	element.text(value);
		}
	}
	// 디테일 검색 이후 모달 닫기
	$('#myModal').modal('hide');
	  
	// 이후 master id로 스케쥴 디테일 가져오기
	searchScheduleDetail(id);
});

function select_air(element){
	// 선택한 option에서 data-in과 data-out 값 가져오기
	var data_in = $(element).find(':selected').data('in');
	var data_out = $(element).find(':selected').data('out');
	var data_timedep = $(element).find(':selected').data('timedep');
	var data_timearri = $(element).find(':selected').data('timearri');

	// 선택한 select box에 따라서 데이터를 적용할 input 태그 선택
	var air_in, air_out
	if (element.id === "kor_air") {
	  air_in = $("#kor_air_in");
	  air_out = $("#kor_air_out");
	  air_timedep = $("#kor_air_dep_time");
	  air_timearri = $("#kor_air_ari_time");
	} else if (element.id === "loc_air") {
	  air_in = $("#loc_air_in");
	  air_out = $("#loc_air_out");
	  air_timedep = $("#loc_air_dep_time");
	  air_timearri = $("#loc_air_ari_time");
	}


	// input 태그에 데이터 적용
	air_in.val(data_in);
	air_out.val(data_out);
	air_timedep.val(data_timedep);
	air_timearri.val(data_timearri);
}

$( document ).ready(function() {
	//changeAgent();
});

function changeAgent(element){
	$("#tmpChangeAgentFrm").remove();
	var frm = makeForm('', 'tmpChangeAgentFrm');

	frm.appendChild(addData('agent', ($(element).val())));
	document.body.appendChild(frm);

	getAjax('tmpChangeAgentFrm', 'manager', 'changeAgentSucc', element);

}

function changeAgentSucc(data, element){
	var select = $($(element).closest('.input-group').find('select')[1]);

	select.selectpicker('destroy');
	select.empty();
	for (var i = 0; i < data.length; i++) {
		var option = $('<option>', {
			value: data[i].id,
			text: data[i].manager_name
		});
		select.append(option);
	}

	select.selectpicker(); 

}

$.datepicker.setDefaults({
	dateFormat: 'yy-mm-dd',
	showOtherMonths: true,
	changeYear: true,
	changeMonth: true,
});


$(function() {
	// id kor_air_date datepicker 선택시
	$('#kor_air_date').datepicker({
		onSelect: function(date) {
		// 선택된 날짜로 Date 변수를 만든다
		var selDate = new Date(date);
		// 해당 날짜에서 년,월,일을 각각 뽑는다. ( month는 +1을 해줘야 해당 month 가 제대로 나옴)
		var selYear = selDate.getFullYear();
		var selMonth = selDate.getMonth()+1;
		var selDay = selDate.getDate();

		// schedule_table, hotel_table
		var schdule_table = $('#schdule_table');
		var hotel_table = $('#hotel_table');

		// 테이블에서 tr을 찾아 tr수만큼 for문을 돌린다.
		schdule_table.find('tr').each(function(index, row) {
			// 첫 번째 행(th)은 스킵합니다.
			if (index === 0) {
				return; // continue to the next iteration
			}
			// 각 행(row)의 두 번째 셀(td)에 오늘 날짜를 입력합니다. 선택한 날짜에서 (index-1)을 더해서 날짜를 만든뒤, 넣어준다.
			var toDate = new Date(selYear, selMonth, selDay + (index -1));
			var toYear = toDate.getFullYear();
			var toMonth = ('0' +toDate.getMonth()).slice(-2);// 앞에 0을 붙이고 뒤에서 2개만 선택한다. 1자리수 인경우 앞에 0붙이는것
			var toDay = ('0' +toDate.getDate()).slice(-2);
			$(row).find('td:nth-child(2)').html("<input type='text' class='form-control' id='date' name='date' style='width:100%; border: 0;' value='"+toYear+'-'+toMonth+"-"+toDay+"'>");

		});
		hotel_table.find('tr').each(function(index, row) {
			// 첫 번째 행(th)은 스킵합니다.
			if (index === 0) {
			return true;
			}
			// 각 행(row)의 첫번째 셀(td)에 오늘 날짜를 입력합니다.
			var toDate = new Date(selYear, selMonth, selDay + (index - 1));
			var toYear = toDate.getFullYear();
			var toMonth = ('0' +toDate.getMonth()).slice(-2);
			var toDay = ('0' +toDate.getDate()).slice(-2);
			$(row).find('td:nth-child(1)').html("<input type='text' class='form-control' id='date' name='date' style='width:100%; border: 0;' value='"+toYear+'-'+toMonth+"-"+toDay+"'>");

		});

		}
	});
	$('#loc_air_date').datepicker({});
});

function openSearch() {
	var searchUrl = "/booking/search/";
	var childWindow = window.open(searchUrl, "Search", "width=600,height=400");
	childWindow.focus();
}

function tableToJson(table) {
    var data = []; // JSON으로 변환될 데이터를 저장할 배열
    $(table).find('tr').each(function(index) {
		if (index !== 0) {
			var row = {}; // 행 데이터를 저장할 객체
			$(this).find('input').each(function() {

				var id = $(this).attr('id'); // input 요소의 id 값을 추출
				var value = $(this).val(); // input 요소의 값(value)을 추출
				row[id] = value; // id를 속성 이름으로, 값(value)을 속성 값으로 저장
			});
			data.push(row); // 행 데이터 객체를 배열에 추가
		}
    });
    return data; // JSON으로 변환된 데이터 배열 반환
  }

function mergeJson(ori, add){
	var data = [];
	$.each(ori, function(index, item) {
		data.push(item);
	});
	$.each(add, function(index, item) {
		data.push(item);
	});

	return data;
}
</script>

<style>
  .devider {
	width: 100%;
	height: 5px;
	border-top: rgba(155, 151, 151, 0.979) 2px solid;
	margin: 20px 10px 20px 0px;
  }
</style>
 

{% endblock %} 
{% block js %} 
{{block.super}} 
{% endblock js %}




