{% extends "base/base.html" %}
{% block content %}


<div class="container-fluid">
    <h1 class="mx-6 mt-5 title">수배</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
    <div class="card mt-3 mx-auto" style="width: 85%;">
        <div class="card-head">
            <h5>&nbsp; {{title_nm}}</h5>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                <div class="datatable-top">
                    <div class="datatable-dropdown">
                        <label>
                            <select class="datatable-select" id="perPage">
                                <option value="5" {% if perPage == 5%} selected {% endif %}>5</option>
                                <option value="10" {% if perPage == 10%} selected {% endif %}>10</option>
                                <option value="15" {% if perPage == 15%} selected {% endif %}>15</option>
                                <option value="20" {% if perPage == 20%} selected {% endif %}>20</option>
                                <option value="25" {% if perPage == 25%} selected {% endif %}>25</option>
                            </select>
                            페이지당 목록표시
                        </label>
                    </div>
                    <div class="text-end">
                        <form class="d-none d-sm-inline-block navbar-search">
                            <div class="input-group">
                                <select class="datatable-select" id="search_type">
                                    <option value="ref" {% if searchType == 'ref' %} selected {% endif %} >ref</option>
                                    <option value="product_name" {% if searchType == 'product_name' %} selected {% endif %} >상품명</option>
                                    <option value="attn_manager__manager_name" {% if searchType == 'attn_manager__manager_name' %} selected {% endif %} >여행사담당자</option>
                                    <option value="product_manager" {% if searchType == 'product_manager' %} selected {% endif %}>상품담당자</option>
                                </select>
                                <input type="text" class="form-control bg-light border" aria-label="Search" aria-describedby="basic-addon2" id="searchKeyword" value="{{ searchKeyword }}"/>
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="button" id="search_btn" onclick="list_search()">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                    <a href="#" class="btn btn-dark" onclick="addMenu()">등록</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="datatable-container">
                    <table id="datatablesSimple"
                        class="datatable-table table table-responsive table-border table-striped table-hover mt-3">
                        <thead>
                            <tr class="table-title">
                                <th scope="col" style="width: 15%; text-align: center;">REF</th>
                                <th scope="col" style="width: 10%; text-align: center;">출발일</th>
                                <th scope="col" style="width: 30%;">상품명</th>
                                <th scope="col" style="width: 10%; text-align: center;">등록일</th>
                                <th scope="col" style="width: 10%; text-align: center;">수정일</th>
                                <th scope="col" style="width: 10%; text-align: center;">여행사담당자</th>
                                <th scope="col" style="width: 10%; text-align: center;">작성자</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in content_list %}
                            <tr class="table-white" id="{{list.id}}" data-index="{{ forloop.counter0 }}">
                                <td style="text-align: center;">{{ list.ref|truncatechars:13 }}</td>
                                <td style="text-align: center;">{{ list.kor_air_date|truncatechars:10 }}</td>
                                <td>{{ list.product_name|truncatechars:30 }}</td>
                                <td style="text-align: center;">{{ list.entry_date|date:"Y-m-d" }}</td>
                                <td style="text-align: center;">{{ list.updat_date|date:"Y-m-d" }}</td>
                                <td style="text-align: center;">{{ list.attn_manager.manager_name|truncatechars:10 }}</td>
                                <td style="text-align: center;">{{ list.entry_id|truncatechars:10 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="datatable-bottom">
                        <div class="datatable-info">{{total_count}}개 항목 중 {{start_index}}~{{end_index}}개 항목 표시</div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                {% for page in pages %}
                                {% if page == paging %}
                                <li class="page-item active" aria-current="page">
                                    <a data-page="{{ page }}" class="page-link">{{ page }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a data-page="{{ page }}" class="page-link" onclick="goPage('{{page}}')">{{ page }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'base/commonValue.html'%} <!-- 공통변수 -->
{% endblock %}
{% block js %}
{{block.super}}
{% endblock js %}