{% extends "base/base.html" %}
{% block content %}


<div class="container-fluid">
    <h1 class="mx-6 mt-5 title">수배</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
    <div class="card mt-3 mx-auto" style="width: 85%;">
        <div class="card-head">
            <h5>&nbsp; {{title_nm}}</h5>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                <div class="datatable-top">
                    <div class="datatable-dropdown">
                        <label>
                            <select class="datatable-select" id="per_page">
                                <option value="5" {% if perPage == 5%} selected {% endif %}>5</option>
                                <option value="10" {% if perPage == 10%} selected {% endif %}>10</option>
                                <option value="15" {% if perPage == 15%} selected {% endif %}>15</option>
                                <option value="20" {% if perPage == 20%} selected {% endif %}>20</option>
                                <option value="25" {% if perPage == 25%} selected {% endif %}>25</option>
                            </select>
                            페이지당 목록표시
                        </label>
                    </div>
                    <div class="text-end">
                        <form class="d-none d-sm-inline-block navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border" aria-label="Search" aria-describedby="basic-addon2" />
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                    <a href="#" class="btn btn-dark" onclick="addMenu()">등록</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="datatable-container">
                    <table id="datatablesSimple"
                        class="datatable-table table table-responsive table-border table-striped table-hover mt-3">
                        <thead>
                            <tr class="table-title">
                                <th scope="col" style="width: 15%;">REF</th>
                                <th scope="col" style="width: 10%;">출발일</th>
                                <th scope="col" style="width: 30%;">상품명</th>
                                <th scope="col" style="width: 10%;">등록일</th>
                                <th scope="col" style="width: 10%;">수정일</th>
                                <th scope="col" style="width: 10%;">여행사담당자</th>
                                <th scope="col" style="width: 10%;">작성자</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in content_list %}
                            <tr class="table-white" id="{{list.id}}" data-index="{{ forloop.counter0 }}">
                                <td>{{ list.ref|truncatechars:13 }}</td>
                                <td>{{ list.kor_air_date|truncatechars:10 }}</td>
                                <td>{{ list.product_name|truncatechars:30 }}</td>
                                <td>{{ list.entry_date|date:"Y-m-d" }}</td>
                                <td>{{ list.updat_date|date:"Y-m-d" }}</td>
                                <td>{{ list.attn_manager.manager_name|truncatechars:10 }}</td>
                                <td>{{ list.entry_id|truncatechars:10 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="datatable-bottom">
                        <div class="datatable-info">{{total_count}}개 항목 중 {{start_index}}~{{end_index}}개 항목 표시</div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                {% for page in pages %}
                                {% if page == paging %}
                                <li class="page-item active" aria-current="page">
                                    <a data-page="{{ page }}" class="page-link">{{ page }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a data-page="{{ page }}" class="page-link" onclick="goPage('{{page}}')">{{ page
                                        }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-head {
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 1);
        border-bottom: 1px solid rgba(51, 7, 248, 0.125);
        color: azure;
    }


    .form-select,
    .datatable-select {
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .datatable-select {
        width: auto;
        display: inline-block;
        padding-left: 1.125rem;
        padding-right: 2.125rem;
        margin-right: 0.25rem;
    }



    .page-item.active .page-link,
    .page-item.active .dataTable-pagination a,
    .dataTable-pagination .page-item.active a,
    .dataTable-pagination li.active .page-link,
    .dataTable-pagination li.active a {
        z-index: 3;
        color: #fff;
        background-color: #212529;
        border-color: #212529;
    }

    .table-title {
        --bs-table-bg: #e2e2e2de;
        color: #000000;
        border-color: #373b3e;
    }


    .table-white {
        --bs-table-bg: #ffffff;
        --bs-table-striped-bg: #f8f8f8fd;
        --bs-table-striped-color: #5e5d5d;
        --bs-table-active-bg: #000000;
        --bs-table-active-color: #f70b0b;
        --bs-table-hover-bg: #b7d5ec;
        --bs-table-hover-color: #fff;
        color: #5e5d5d;
        border-color: #cfcfcfd8;
    }


    .mx-6 {
        margin-right: 9rem !important;
        margin-left: 9rem !important;
    }
</style>




{% include 'base/commonValue.html'%} <!-- 공통변수 -->
{% endblock %}
{% block js %}
{{block.super}}
{% endblock js %}