{% extends "base/base.html" %}
{% block content %}

<div class="container-fluid">
  <h1 class="mx-5 mt-5 title">루밍</h1>
</div>


<div class="card mt-3 mx-5">
    <div class="card-header">
      <h5>&nbsp; {{title_nm}}</h5>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
          <div class="datatable-dropdown">
            <label>
                <select class="datatable-selector" id="per_page">
                    <option value="10" {% if per_page == 10%} selected {% endif %}>10</option>
                    <option value="20" {% if per_page == 20%} selected {% endif %}>20</option>
                    <option value="30" {% if per_page == 30%} selected {% endif %}>30</option>
                    <option value="40" {% if per_page == 40%} selected {% endif %}>40</option>
                    <option value="50" {% if per_page == 50%} selected {% endif %}>50</option>
                </select>
                페이지당 목록표시
            </label>
          </div>
          <div class="text-end">
            <form class="d-none d-sm-inline-block navbar-search" >
                <div class="input-group">
                    <input type="text" class="form-control bg-light border" aria-label="Search" aria-describedby="basic-addon2"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                        <a href="#" class="btn btn-primary" onclick="addMenu()">등록</a>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="datatable-container">
            <table id="datatablesSimple" class="datatable-table table table-light table-responsive table-border table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%; text-align: center;">상태</th>
                        <th scope="col" style="width: 10%;">REF</th>
                        <th scope="col" style="width: 10%;">출발일</th>
                        <th scope="col" style="width: 20%;">상품명</th>
                        <th scope="col" style="width: 10%;">인솔자</th>
                        <th scope="col" style="width: 5%; text-align: center;">총인원</th>
                        <th scope="col" style="width: 10%;">등록일</th>
                        <th scope="col" style="width: 10%;">수정일</th>
                        <th scope="col" style="width: 10%;">여행사담당자</th>
                        <th scope="col" style="width: 10%;">작성자</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for list in content_list %}
                        <tr id="{{list.id}}" data-index="{{ forloop.counter0 }}">
                            <td style="text-align: center;">{{ list.type|truncatechars:6 }}</td>
                            <td>{{ list.booking_id.ref|truncatechars:13 }}</td>
                            <td>{{ list.booking_id.kor_air_date|truncatechars:10 }}</td>
						                <td>{{ list.booking_id.product_name|truncatechars:30 }}</td>
                            <td>{{ list.tc.tc_name|truncatechars:5 }}</td>
                            <td style="text-align: center;">{{ list.total_pax|default_if_none:"0"|truncatechars:2 }}</td>
                            <td>{{ list.booking_id.entry_date|date:"Y-m-d" }}</td>
                            <td>{{ list.booking_id.updat_date|date:"Y-m-d" }}</td>
                            <td>{{ list.booking_id.attn_manager.manager_name|truncatechars:10 }}</td>
                            <td >{{ list.entry_id|truncatechars:10 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
          <div class="datatable-bottom">
            <div class="datatable-info">{{total_count}}개 항목 중 {{start_index}}~{{end_index}}개 항목 표시</div>
            <nav aria-label="Page navigation" >
                <ul class="pagination pagination-sm">
                    {% for page in pages %}
                        {% if page == paging %}
                            <li class="page-item active" aria-current="page">
                                <a data-page="{{ page }}" class="page-link">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a data-page="{{ page }}" class="page-link" onclick="goPage('{{page}}')">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>
  

<style>
  .devider {
    width: 100%;
    height: 5px;
    border-top: rgba(155, 151, 151, 0.979) 2px solid;
    margin: 20px 10px 20px 0px;
  }


  .form-select-diy, .dataTable-selector {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

}

.col-sm-30 {
    flex: 0 0 auto;
    width: 12%;
  }


</style>

{% include 'base/commonValue.html'%} <!-- 공통변수 -->
{% endblock %}
{% block js %}
    {{block.super}}      
{% endblock js %}