{% include "base/common.html" %} 
{% block content %}



<body>
    <div class="change-wrapper">
        <h2>비밀번호변경</h2>
        <form method="POST" id="change-from">
            {% csrf_token %}
            {{ form.as_p }} 


        <input type="submit" value="변경" class="submit-btn">
        </form>
    </div>
</body>
 

<style>
    *{
        box-sizing: border-box;
    }
    
    body{
        margin: 0;
        background-color: black;
    }
    
    .change-wrapper{
        width: 500px;
        border: 0;
        border-radius: 5px;
        background-color: #EEEFF1;
        padding: 20px;
        margin: 100px auto;
    }
    
    .change-wrapper > h2{
        font-size: 24px;
        color:black;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .submit-btn {
        color:aliceblue;
        font-size: 14px;
        background-color: black;
        margin: 30px 10px 10px 0px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    .form-floating {
        position: relative;
    }

    .form-floating label {
        padding-right: 30px; /* 레이블 오른쪽 여백 조정 */
    }

    .fa-eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    
</style>

{% endblock %} 