<body>
    <div class="login-wrapper">
        <h2>TON TOUR</h2>
        <form method="post" action="{% url 'users:login' %}" id="login-from">
            {% csrf_token %}
            <input type="text" class="text" name="userId" placeholder="ID" value="">
            <input type="password" class="text" name="userPassword" placeholder="Password">
            <input type="checkbox" id="remember_check" name="remember">
            <label for="remember_check" class="label"> 아이디 저장하기</label>
            <input type="submit" value="Login" class="submit-btn">
        </form>
        {% if error %}
        <p style="font-size: 14px; font-weight: bold; color: red; text-align: center;">{{ error }}</p>
        {% endif %}
    </div>
</body>



<style>
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
}

.login-wrapper{
    width: 300px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 100px auto;
}

.login-wrapper > h2{
    font-size: 24px;
    color:black;
    margin-bottom: 20px;
    text-align: center;
}

.submit-btn {
    color:aliceblue;
    font-size: 14px;
    background-color: black;
    margin: 30px 10px 10px 0px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.text {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.link {
    text-align: center;
}

.link a {
    font-size: 12px;
    color: #9b9b9b;
}

.label {
    color: #999999;
    font-size: 13px;
}


  

</style>

