{% extends "base/base.html" %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">대시보드</h1>

    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    대시보드입니다</br>
                    <div class="date-wrap">
                        <div class="date-month">
                            <div class="button_wrap">
                                <button type="button" id="month-prev" class="month-move" data-ym="2023-02-01"> < </button>
                                <span id="month-this"></span>
                                <button type="button" id="month-next" class="month-move" data-ym="2023-04-01"> > </button>
                            </div>
                        </div>
                        <table class="date-month">
                            <thead>
                                <tr>
                                    <th>일</th>
                                    <th>월</th>
                                    <th>화</th>
                                    <th>수</th>
                                    <th>목</th>
                                    <th>금</th>
                                    <th>토</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-month">
                              
                            </tbody>
                        </table>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
$( document ).ready(function() {
    var date = '2023-03-27'
    var td = '<td class="__REST__ __TODAY__"><a __HREF__>__DATE__</a></td>';
    var href = '/depart/schedule?date=' + date.substring(0, 8);
    var hasEvent;
    var tdClass;
    var week = null;
    var days = fullDays(date);
    for (var i = 0, length = days.length; i < length; i += 7) {
        // 전체 셀을 주단위로 잘라서 사용
        week = days.slice(i, i + 7);
        
        var $tr = $('<tr></tr>');
        week.forEach(function (obj, index) {
            // 매주 수요일에 이벤트가 있다고 가정
           // hasEvent = (index === 3);
            tdClass = (index === 0)? 'sun': '';
            tdClass = (index === 6)? 'sat': tdClass;

            $tr.append(td.replace('__REST__', tdClass)
                        .replace('__TODAY__', (obj['today'])? 'today': '')
                        .replace('__HREF__', (hasEvent)? 'href="'+ href + ('0' + obj['date']).slice(-2) +'"': '')
                        .replace('__DATE__', obj['date']));
        });
        $('#tbl-month').append($tr);
    }

});
function prevMonth(date) {
    var target = new Date(date);
    target.setDate(1);
    var month = target.getMonth() - 1;
    target.setMonth(month);
        return getYmd(target);
}

function nextMonth(date) {
    var target = new Date(date);
    target.setDate(1);
    var month = target.getMonth() +1;
    target.setMonth(month);
    return getYmd(target);
}

function getYmd(target) {
    // IE에서 날짜 문자열에 0이 없으면 인식 못함
    var month = ('0' + (target.getMonth() + 1)).slice(-2);
    return [target.getFullYear(), month, '01'].join('-');
}

function fullDays(date) {
    var target = new Date(date);
    var year = target.getFullYear();
    var month = target.getMonth();
    $("#month-this").html(year+ '-' + ('0' +(month+1)).slice(-2))
    var firstWeekDay = new Date(year, month, 1).getDay();
    var thisDays = new Date(year, month + 1, 0).getDate();
    
    var cell = [28, 35, 42].filter(function (n) {
            return n >= (firstWeekDay + thisDays);
        }).shift();
 
    var days = []
    for (var i = 0; i < cell; i++) {
        days[i] = {
            date: '',
            dayNum: '',
            today: false
        };
    }

    var now = new Date();
    var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    var inDate;
    for (var index = firstWeekDay, i = 1; i <= thisDays; index++, i++) {
        inDate = new Date(year, month, i);
        days[index] = {
            date: i,
            dayNum: inDate.getDay(),
            today: (inDate.getTime() === today.getTime())
        };
    }

    return days;
}

function drawMonth(date) {
    $('#month-this').text(date.substring(0, 7).replace('-', '.'));
    $('#month-prev').data('ym', prevMonth(date));
    $('#month-next').data('ym', nextMonth(date));

    $('#tbl-month').empty();

    var td = '<td class="__REST__ __TODAY__"><a __HREF__>__DATE__</a></td>';
    var href = '/depart/schedule?date=' + date.substring(0, 8);
    var hasEvent;
    var tdClass;
    var week = null;
    var days = fullDays(date);
    for (var i = 0, length = days.length; i < length; i += 7) {
        // 전체 셀을 주단위로 잘라서 사용
        week = days.slice(i, i + 7);
        
        var $tr = $('<tr></tr>');
        week.forEach(function (obj, index) {
            //hasEvent = (index === 3);
            tdClass = (index === 0)? 'sun': '';
            tdClass = (index === 6)? 'sat': tdClass;

            $tr.append(td.replace('__REST__', tdClass)
                        .replace('__TODAY__', (obj['today'])? 'today': '')
                        .replace('__HREF__', (hasEvent)? 'href="'+ href + ('0' + obj['date']).slice(-2) +'"': '')
                        .replace('__DATE__', obj['date']));
        });
        $('#tbl-month').append($tr);
    }
}

$(function () {
    var date = (new Date()).toISOString().substring(0, 10);
    drawMonth(date);

    $('.month-move').on('click', function (e) {
        e.preventDefault();

        drawMonth($(this).data('ym'));
    });
});
</script>
<style>
.card-body{
    width: 100%;
    height: 80%;

}
.date-wrap {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: baseline;
}
.date-month {
    width: 100%;
}

.date-month td{
    height: 150px;
    /*
    test code
    */
    border: solid blue 1px;
}
.date-month th{
    background-color: black;
    color: white;
}
.date-month th:first-child{
    background-color: black;
    color: red;
}
.date-month th:last-child{
    background-color: black;
    color: skyblue;
}

</style>
{% endblock %}
{% block js %}
    {{block.super}}      
{% endblock js %}