<div class="devider"></div>
<div class="row mt-2">
    <div class="text-start">
        <label for="matching" class="col-sm-1 col-form-label" style="font-weight: bolder;">단체매칭</label>
        <label class="d-none d-sm-inline-block navbar-search col-form-label">
            <div class="input-group">
                <input id="paramRef" name="paramRef" type="text" class="form-control" />
                <input type="hidden" id="master_id" name="master_id">
                <div class="input-group-append">
                    <button type="button" class="form-control btn btn-primary col-4" data-toggle="modal" data-target="#refModal"  onclick="searchREF();">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </label>
    </div>
</div>
<div class="devider"></div>
<!-- Modal -->
<div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="refModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelRef">REF 검색결과</h5>
            </div>
            <div class="modal-body">
                <div class="devider-2"></div>
                <div class="row col-12" id="" style="text-align: center; font-weight: bold; font-size: large;">
                    <div class="col-4" >REF</div>
                    <div class="col-6" >상품명</div>
                    <div class="col-2" >출발일</div>
                </div>
                <div class="devider-2"></div>
                <div class="row col-12 mt-4" id="ref_result">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function searchREF(){
        var ref = $("#paramRef").val();
        var target = $("#target").val();
        $("#refFrm").remove();
        var frm = makeForm('', 'refFrm');
        frm.appendChild(addData('ref', ref));
        frm.appendChild(addData('use_yn', 'Y'));
        document.body.appendChild(frm);
        getREFAjax('refFrm', target, 'searchREFSucc');
    }

    function getREFAjax(fName, target, suF){

        var formArray = $("#"+fName).serializeArray();
        var formData = {};
        for (var i = 0; i < formArray.length; i++) {
            formData[formArray[i].name] = formArray[i].value;
        }

        var jsonData = JSON.stringify(formData);
        $.ajax({
            url: '/ajax/getREF/'+target,
            method: 'POST',
            data: jsonData,
            headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() }, // CSRF 토큰을 HTTP 헤더에 추가
            ContentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                if (existFunction(suF)){
                    var p = suF.indexOf("(");
                    if (p > -1 ){
                        eval(suF);
                    }
                    else{
                        eval(suF+"(data)");
                    }
                }
            },
            error: function(xhr, status, error) {
                alert(' 실패')
            }
        });
    }

    var refData;
    var masterData;
    function searchREFSucc(data){
        console.log(data)
        var masterList = data.master_id;
        var refList = data.refList;
        refData = '';
        refData = refList
        masterData = '';
        masterData = masterList;

        var result = $("#ref_result"); 
        result.empty();
        for (var i = 0; i < refList.length; i ++){
            result.append("<div class='col-4 mt-2' style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: bold; text-align: center; color: dimgray;' data-row="+i+">"+refList[i].ref+"</div>")
            result.append("<div class='col-6 mt-2' style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: dimgray;' data-row="+i+">"+refList[i].product_name+"</div>")
            result.append("<div class='col-2 mt-2' style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; color: dimgray;' data-row="+i+">"+refList[i].kor_air_date+"</div>")
            result.append("<div class='devider-3' style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: dimgray;'</div>")     
        }
    }

    $(document).on('dblclick', '#ref_result > div', function() {
        var row = $(this).data('row');
        var id = masterData[row];
        var ref = refData[row].ref;

        $("#paramRef").val(ref);
        $('#master_id').val(id);

        $('#refModal').modal('hide');

        if (existFunction('succSetRef')){
            succSetRef()
        }

    });

    // 로드시에 해당하는 master_id등을 받아 REF값을 검색후, 해당값을 셋팅
	function getREF(type, id){
        // type == 해당하는 master_id 컬럼 명
        $("#master_id").val(id);

        var jsonData = JSON.stringify({'type':type, 'id':id});
        $.ajax({
            url: '/ajax/searchREF',
            method: 'POST',
            data: jsonData,
            headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() }, // CSRF 토큰을 HTTP 헤더에 추가
            ContentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                setRefData(data);
            },
            error: function(xhr, status, error) {
                alert(' 실패')
            }
        }); 
	}

    function setRefData(data){
        $("#paramRef").val(data[0].ref);
    }
</script>

<style>
  .devider-2 {
    width: 100%;
    height: 1px;
    border-top: rgba(155, 151, 151, 0.979) 1px solid;
    margin: 5px 10px 5px 0px;
  }

  .devider-3 {
    width: 100%;
    height: 1px;
    border-top: rgb(189, 182, 182) 1px solid;
    margin: 5px 10px 5px 12px;
  }
</style>