<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading"><h5>여행사관리</h5></div>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                    여행사
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    담당자
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                    일정등록
                </a>

                <hr class="sidebar-divider">

                <div class="sb-sidenav-menu-heading"><h5>로컬관리</h5></div>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                    현지
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    담당자
                </a>

                <hr class="sidebar-divider">

                <div class="sb-sidenav-menu-heading"><h5>현지관리</h5></div>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-bed"></i></div>
                    호텔
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-map-marker"></i></div>
                    선택관광
                </a>

                <hr class="sidebar-divider">

                <div class="sb-sidenav-menu-heading"><h5>기타 코드</h5></div>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
                    항공
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-university"></i></div>
                    은행
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
                    계정관리
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                    공통코드
                </a>
                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                    메뉴코드
                </a>
        </div>
    </nav>
</div>