<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                {% for list in leftMenu %} 
                    {% if list.menu_type == 'LEFT'%}
                        {% if list.upper_menu == 'M0000'%}
                        <hr class="sidebar-divider">
                            <div class="sb-sidenav-menu-heading">{{list.menu_name}}</div>
                        {% else %}
                            <a class="nav-link" href="javascript:movePage('{{list.link}}');">
                                <div class="sb-nav-link-icon"><i class="fas {{list.icon}}" ></i></div>
                                {{list.menu_name}}
                            </a>
                        {% endif %}                    
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>
</div>