<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">TON TOUR</a>
    </div>
    <!-- Sidebar Toggle-->
    <!--<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="dashborad">대시보드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="booking">수배내역</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rooming">루밍</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="itinerary">확정서</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="invoice">인보이스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="statement">정산</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tourconductor">T/C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="setting">설정</a>
        </li>
      </ul>
    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>