{% extends "base/setting_base.html" %}
{% block content %}
<div class="bd">
  <h1 class="mt-4">
    {{title_nm}}
  </h1>
  <form id="agentFrm">
    {% csrf_token %}
    <input type="hidden" id="type" name="type" value="{{type}}">
    <div class="row">
      <label for="agent_name" class="col-sm-1 col-form-label">여행사</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="agent_name" name="agent_name" value="{{selectData.agent.0.agent_name}}">
        <input type="hidden" class="form-control" id="agent_name" name="id" value="{{selectData.agent.0.id}}">
      </div>
      <label for="agent_tel" class="col-sm-1 col-form-label">대표번호</label>
      <div class="col-sm-3">
        <input type="tel" class="form-control" id="agent_tel" name="agent_tel" value="{{selectData.agent.0.agent_tel}}">
      </div>
      <label for="use_yn" class="col-sm-1 col-form-label">사용여부</label>
      <div class="col-sm-3">
        <select class="form-select" id="use_yn" name="use_yn">
          <option value="Y" {% if selectData.agent.0.use_yn == 'Y' %}selected{% endif %}>사용</option>
          <option value="N" {% if selectData.agent.0.use_yn == 'N' %}selected{% endif %}>미사용</option>
        </select>
      </div>
    </div>
    {% if pageType == 'I' %}
      <input type="button" value="저장" onclick="saveData('agentFrm')">
    {% elif pageType == 'U' %}
      <input type="button" value="수정" onclick="updateData('agentFrm')">
      <input type="button" value="삭제" onclick="deleteData('agentFrm')">
    {% endif %}
      <input type="button" value="목록" onclick="goMenuList()">
  </form>
</div>
{% include 'base/commonValue.html'%} <!-- 공통변수 -->
{% endblock %}
{% block js %}
{{block.super}}      
{% endblock js %}