{% extends "base/setting_base.html" %}
{% block content %}
<div class="bd">
    <h1 class="mt-4">{{title_nm}}</h1>
    <form>
      <div class="row">
        <label for="agent_name" class="col-sm-1 col-form-label">여행사</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="agent_name">
        </div>
        <label for="agent_tel" class="col-sm-1 col-form-label">대표번호</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="agent_tel">
        </div>
      </div>
    </form>
    </div>
{% endblock %}
{% block js %}
    {{block.super}}      
{% endblock js %}