{% extends "base/setting_base.html" %}
{% block content %}
<div class="card mt-3 mx-5">
    <div class="card-header">
        {{title_nm}}
    </div>
    <div class="card-body">
      <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
            <form id="airportFrm">
                {% csrf_token %}
                <input type="hidden" id="id" name="id" value="{{id}}">
                <div class="input-group mb-3">
                    <span class="input-group-text col-sm-1 text-end" >편명</span>
                    <input type="text" id="airport_name" name="airport_name" class="form-control col-sm-3" value="{{airport.0.airport_name}}" >
                    <span class="input-group-text col-sm-1" >소요시간</span>
                    <input type="text" id="time_taken" name="time_taken" class="form-control col-sm-3" value="{{airport.0.time_taken}}" >
                    <span class="col-sm-4"></span>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text col-sm-1 text-center" >출발공항</span>
                  <input type="text" id="departure_airport" name="departure_airport" class="form-control col-sm-3" value="{{airport.0.departure_airport}}" >
                  <span class="input-group-text col-sm-1 text-center" >출발도시</span>
                  <input type="text" id="departure_city" name="departure_city" class="form-control col-sm-3" value="{{airport.0.departure_city}}" >
                  <span class="input-group-text col-sm-1 text-center" >출발시간</span>
                  <input type="text" id="departure_time" name="departure_time" class="form-control col-sm-3" value="{{airport.0.departure_time}}" >
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text col-sm-1 text-center" >도착공항</span>
                  <input type="text" id="arrival_airport" name="arrival_airport" class="form-control col-sm-3" value="{{airport.0.arrival_airport}}" >
                  <span class="input-group-text col-sm-1 text-center" >도착도시</span>
                  <input type="text" id="arrival_city" name="arrival_city" class="form-control col-sm-3" value="{{airport.0.arrival_city}}" >
                  <span class="input-group-text col-sm-1 text-center" >도착시간</span>
                  <input type="text" id="arrival_time" name="arrival_time" class="form-control col-sm-3" value="{{airport.0.arrival_time}}" >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text col-sm-1" >담당자</span>
                    <select class="form-select col-sm-3" id="manager" name="manager" value="{{airport.0.manager}}">
                      {% for managerList in manager %}
                        <option value="{{managerList.id}}">{{managerList.manager_name}}</option>
                      {% endfor %}
                    </select>
                    <label class="input-group-text col-sm-1" for="use_yn" value="{{airport.0.use_yn}}" >사용여부</label>
                    <select class="form-select col-sm-3" id="use_yn" name="use_yn">
                        <option value="Y">사용</option>
                        <option value="N">미사용</option>
                    </select>
                    <span class="col-sm-4"></span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text  col-sm-1" for="airport_remark" >REMARK</label>
                    <textarea id="airport_remark" name="airport_remark" class="form-control  col-sm-11">{{airport.0.airport_remark}}</textarea>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if pageType == 'I' %}
                        <button class="btn btn-primary me-md-2" type="button" onclick="saveData()">저장</button>
                    {% elif pageType == 'U' %}
                        <button class="btn btn-primary me-md-2" type="button" onclick="updateData()">수정</button>
                        <button class="btn btn-primary me-md-2" type="button" onclick="deleteData()">삭제</button>
                    {% endif %}
                    <button class="btn btn-primary me-md-2" type="button" onclick="goMenuList()">목록</button>
                </div>
                <input type="hidden" id="perPage" value="{{perPage}}">
                <input type="hidden" id="paging" value="{{paging}}">
            </form>
        </div>
    </div>
</div>

<script>
    function saveData(){
        var jsonData = $('#airportFrm').serializeArray()
            $.ajax({
                url: 'addData', // 앞에 자동으로 setting/menu 붙음
                method: 'POST',
                data: jsonData,
                dataType: 'json',
                success: function(data) {
                   alert('입력성공 메뉴등록 화면으로 이동합니다.')
                   goMenuList();
                },
                error: function(xhr, status, error) {
                   alert('메뉴 등록 실패')
                }
            });
    }

    function updateData(){
        var jsonData = $('#airportFrm').serializeArray()
            $.ajax({
                url: 'updateData', // 앞에 자동으로 setting/menu 붙음
                method: 'POST',
                data: jsonData,
                dataType: 'json',
                success: function(data) {
                   alert('수정성공 메뉴등록 화면으로 이동합니다.')
                   goMenuList();
                },
                error: function(xhr, status, error) {
                   alert('메뉴 수정 실패')
                }
            });
    }

    function deleteData(){
        var jsonData = $('#airportFrm').serializeArray()
            $.ajax({
                url: 'deleteData', // 앞에 자동으로 setting/menu 붙음
                method: 'POST',
                data: jsonData,
                dataType: 'json',
                success: function(data) {
                   alert('삭제성공 메뉴등록 화면으로 이동합니다.')
                   goMenuList();
                },
                error: function(xhr, status, error) {
                   alert('메뉴 삭제 실패')
                }
            });
    }

    function goMenuList(){
        var perPage = $("#perPage").val();
        var page = $("#paging").val();
        movePage('setting/airport?paging='+page+"&perPage="+perPage)
    }

</script>
{% endblock %}
{% block js %}
{{block.super}}      
{% endblock js %}