{% extends "base/setting_base.html" %}
{% block content %}
<div class="card mt-3 mx-5">
    <div class="card-header">
        {{title_nm}}
    </div>
    <div class="card-body">
        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
            <div class="datatable-top">
                <form id="commcodeFrm">
                    {% csrf_token %}    
                    <input type="hidden" id="id" name="id" value="{{selectData.commcode.0.id}}">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-2 text-end" >코드</span>
                        <input type="text" id="code" name="code" class="form-control col-sm-4" value="{{selectData.commcode.0.code}}" >
                        <span class="input-group-text col-sm-2 text-center" >코드명</span>
                        <input type="text" id="code_name" name="code_name" class="form-control col-sm-4" value="{{selectData.commcode.0.code_name}}" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-2" >기타1</span>
                        <input type="text" id="code_etc1" name="code_etc1" class="form-control col-sm-4" value="{{selectData.commcode.0.code_etc1}}" >
                        <span class="input-group-text col-sm-2" >기타2</span>
                        <input type="text" id="code_etc2" name="code_etc2" class="form-control col-sm-4" value="{{selectData.commcode.0.code_etc2}}" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-2" >기타3</span>
                        <input type="text" id="code_etc3" name="code_etc3" class="form-control col-sm-4" value="{{selectData.commcode.0.code_etc3}}" >
                        <span class="input-group-text col-sm-2" >기타4</span>
                        <input type="text" id="code_etc4" name="code_etc4" class="form-control col-sm-4" value="{{selectData.commcode.0.code_etc4}}" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-2" >기타5</span>
                        <input type="text" id="code_etc5" name="code_etc5" class="form-control col-sm-4" value="{{selectData.commcode.0.code_etc5}}" >
                        <label class="input-group-text col-sm-2" for="use_yn" value="{{contentMenu.0.use_yn}}" >사용여부</label>
                        <select class="form-select col-sm-4" id="use_yn" name="use_yn" >
                            <option value="Y" {% if selectData.commcode.0.use_yn == 'Y' %} selected {% endif %}>사용</option>
                            <option value="N" {% if selectData.commcode.0.use_yn == 'N' %} selected {% endif %}>미사용</option>
                        </select>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        {% if pageType == 'I' %}
                            <input type="button" value="저장" onclick="saveData('commcodeFrm')">
                        {% elif pageType == 'U' %}
                            <input type="button" value="수정" onclick="updateData('commcodeFrm')">
                            <input type="button" value="삭제" onclick="deleteData('commcodeFrm')">
                        {% endif %}
                            <input type="button" value="목록" onclick="goMenuList()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'base/commonValue.html'%} <!-- 공통변수 -->
{% endblock %}
{% block js %}
{{block.super}}      
{% endblock js %}