{% extends "base/setting_base.html" %}
{% block content %}
<div class="card mt-3 mx-5">
    <div class="card-header">
        {{title_nm}}
    </div>
    <div class="card-body">
        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
            <div class="datatable-top">
                <form id="hotelFrm">
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id" value="{{selectData.hotel.0.id}}">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-1 text-end" >호텔명(한글)</span>
                        <input type="text" id="hotel_name" name="hotel_name" class="form-control col-sm-3" value="{{selectData.hotel.0.hotel_name}}" >
                        <span class="input-group-text col-sm-1 text-center" >호텔명(영어)</span>
                        <input type="text" id="hotel_en_name" name="hotel_en_name" class="form-control col-sm-3" value="{{selectData.hotel.0.hotel_en_name}}" >
                        <span class="input-group-text col-sm-1 text-center" >등급</span>
                        <input type="text" id="rank" name="rank" class="form-control col-sm-3" value="{{selectData.hotel.0.rank}}" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-1 text-end" >나라</span>
                        <input type="text" id="country" name="country" class="form-control col-sm-3" value="{{selectData.hotel.0.country}}" >
                        <span class="input-group-text col-sm-1 text-center" >도시</span>
                        <input type="text" id="city" name="city" class="form-control col-sm-3" value="{{selectData.hotel.0.city}}" >
                        <span class="input-group-text col-sm-1 text-center" >주소</span>
                        <input type="text" id="address" name="address" class="form-control col-sm-3" value="{{selectData.hotel.0.address}}" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-1 text-end" >호텔연락처</span>
                        <input type="text" id="hotel_tel" name="hotel_tel" class="form-control col-sm-3" value="{{selectData.hotel.0.hotel_tel}}" >
                        <label class="input-group-text col-sm-1" for="use_yn" >사용여부</label>
                        <select class="form-select col-sm-3" id="use_yn" name="use_yn" >
                            <option value="Y" {% if selectData.hotel.0.use_yn == 'Y' %} selected {% endif %}>사용</option>
                            <option value="N" {% if selectData.hotel.0.use_yn == 'N' %} selected {% endif %}>미사용</option>
                        </select>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="hotel_remark" >REMARK</label>
                        <textarea id="hotel_remark" class="form-control col-sm-11" name="hotel_remark">{{ selectData.hotel.0.hotel_remark }}</textarea>
                    </div>
 
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        {% if pageType == 'I' %}
                            <input type="button" value="저장" onclick="saveData('hotelFrm')">
                        {% elif pageType == 'U' %}
                            <input type="button" value="수정" onclick="updateData('hotelFrm')">
                            <input type="button" value="삭제" onclick="deleteData('hotelFrm')">
                        {% endif %}
                            <input type="button" value="목록" onclick="goMenuList()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'base/commonValue.html'%} <!-- 공통변수 -->
{% endblock %}
{% block js %}
{{block.super}}      
{% endblock js %}