{% extends "base/setting_base.html" %}
{% block content %}
<div class="bd">
  <h1 class="mt-4">{{title_nm}}</h1>
  <form id="managerFrm">
    {% csrf_token %}
    <input type="hidden" class="form-control" id="id" name="id" value="{{manager.0.id}}">
    <div class="row">
      <label for="agent_name" class="col-sm-1 col-form-label">여행사</label>
      <div class="col-sm-3">
        <select class="form-select" id="agent_name" name="agent_name" value="{{manager.0.agent_name}}">
          {% for agentList in agent %}
            <option value="{{agentList.agent_name}}">{{agentList.agent_name}}</option>
          {% endfor %}
        </select>
      </div>
      <label for="agent_tel" class="col-sm-1 col-form-label">담당자명</label>
      <div class="col-sm-3">
        <input type="tel" class="form-control" id="manager_name" name="manager_name" value="{{manager.0.manager_name}}">
      </div>
      <label for="agent_tel" class="col-sm-1 col-form-label">직통번호</label>
      <div class="col-sm-3">
        <input type="tel" class="form-control" id="manager_tel" name="manager_tel" value="{{manager.0.manager_tel}}">
      </div>
    </div>
    <div class="row">
      <label for="agent_name" class="col-sm-1 col-form-label">핸드폰</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="manager_hp" name="manager_hp" value="{{manager.0.manager_hp}}">
      </div>
      <label for="agent_tel" class="col-sm-1 col-form-label">메신저</label>
      <div class="col-sm-3">
        <input type="tel" class="form-control" id="manager_messenger" name="manager_messenger" value="{{manager.0.manager_messenger}}">
      </div>
      <label for="use_yn" class="col-sm-1 col-form-label">사용여부</label>
      <div class="col-sm-3">
        <select class="form-select" id="use_yn" name="use_yn" value="{{manager.0.use_yn}}">
          <option value="Y">사용</option>
          <option value="N">미사용</option>
      </select>
      </div>
    </div>
    <div class="row">
      <label for="use_yn" class="col-sm-1 col-form-label">이메일</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="manager_email" name="manager_email" value="{{manager.0.manager_email}}">
      </div>
      <label for="agent_tel" class="col-sm-1 col-form-label">REMARK</label>
      <div class="col-sm-7">
        <textarea class="form-control" id="manager_remark" name="manager_remark">{{manager.0.manager_remark}}</textarea>
      </div>
    </div>
   
    {% if pageType == 'I' %}
    <input type="button" value="저장" onclick="saveData()">
    {% elif pageType == 'U' %}
      <input type="button" value="수정" onclick="updateData()">
      <input type="button" value="삭제" onclick="deleteData()">
    {% endif %}
    <input type="button" value="목록" onclick="goMenuList()">
    <input id="type" name="type" type="hidden" value={{type}}>
  </form>
  <input type="hidden" id="perPage" value="{{perPage}}">
  <input type="hidden" id="paging" value="{{paging}}">
</div>
<script>
  function saveData(){
      var jsonData = $('#managerFrm').serializeArray()
          $.ajax({
              url: 'addData', // 앞에 자동으로 setting/agent 붙음
              method: 'POST',
              data: jsonData,
              dataType: 'json',
              success: function(data) {
                 alert('입력성공 여행사등록 화면으로 이동합니다.')
                 goMenuList();
              },
              error: function(xhr, status, error) {
                 alert('여행사 등록 실패')
              }
          });
  }

  function updateData(){
      var jsonData = $('#managerFrm').serializeArray()
          $.ajax({
              url: 'updateData', // 앞에 자동으로 setting/agent 붙음
              method: 'POST',
              data: jsonData,
              dataType: 'json',
              success: function(data) {
                 alert('수정성공 메뉴등록 화면으로 이동합니다.')
                 goMenuList();
              },
              error: function(xhr, status, error) {
                 alert('여행사 수정 실패')
              }
          });
  }

  function deleteData(){
      var jsonData = $('#managerFrm').serializeArray()
          $.ajax({
              url: 'deleteData', // 앞에 자동으로 setting/agent 붙음
              method: 'POST',
              data: jsonData,
              dataType: 'json',
              success: function(data) {
                 alert('삭제성공 메뉴등록 화면으로 이동합니다.')
                 goMenuList();
              },
              error: function(xhr, status, error) {
                 alert('메뉴 삭제 실패')
              }
          });
  }

  function goMenuList(){
      var perPage = $("#perPage").val();
      var page = $("#paging").val();
      var type = $("#type").val();
      movePage('setting/manager?paging='+page+"&perPage="+perPage+"&type="+type)
  }

</script>
{% endblock %}
{% block js %}
    {{block.super}}      
{% endblock js %}