{% extends "base/setting_base.html" %}
{% block content %}
<div class="card mt-3 mx-5">
    <div class="card-header">
        {{title_nm}}
    </div>
    <div class="card-body">
      <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
            <div class="datatable-dropdown">
                <label>
                    <select class="datatable-selector" id="perPage">
                        <option value="5" {% if per_page == 5%} selected {% endif %}>5</option>
                        <option value="10" {% if per_page == 10%} selected {% endif %}>10</option>
                        <option value="15" {% if per_page == 15%} selected {% endif %}>15</option>
                        <option value="20" {% if per_page == 20%} selected {% endif %}>20</option>
                        <option value="25" {% if per_page == 25%} selected {% endif %}>25</option>
                    </select>
                    페이지당 목록표시
                </label>
            </div>
            <div class="text-end">
                <form class="d-none d-sm-inline-block navbar-search" >
                    <div class="input-group">
                        <input class="datatable-input" placeholder="Search..." type="search" title="Search within table" aria-controls="datatablesSimple" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                            <a href="#" class="btn btn-primary" onclick="addMenu()">등록</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="datatable-container">
            <table id="datatablesSimple" class="datatable-table table table-light table-responsive table-border table-striped table-hover">
                <thead>
                    <tr>
                        {% for th in tr_list %}
                            <th scope="col">{{ th }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for list in content_list %}
                        <tr id="{{list.id}}{{list.menu}}" data-index="{{ forloop.counter0 }}">
                            {% for field in list %}
                                <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <div class="datatable-bottom">
                <div class="datatable-info">{{total_count}}개 항목 중 {{start_index}}~{{end_index}}개 항목 표시</div>
                <nav aria-label="Page navigation" >
                    <ul class="pagination pagination-sm">
                        {% for page in pages %}
                            {% if page == current_page %}
                                <li class="page-item active" aria-current="page">
                                    <a data-page="{{ page }}" class="page-link">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a data-page="{{ page }}" class="page-link" onclick="goPage('{{page}}')">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <input id="paging" type="hidden" value={{current_page}}>
                        <input id="target" type="hidden" value="{{target}}">
                        <input id="type" type="hidden" value="{{type}}">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>  

{% endblock %}
{% block js %}
    {{block.super}}      
{% endblock js %}