{% extends "base/setting_base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header">
           메뉴 내역
        </div>
        <input type="button" value="메뉴 추가" onclick="addMenu()"> 
        <div class="card-body">
            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                <div class="datatable-top">
                    <div class="datatable-dropdown">
                        <label>
                            <select class="datatable-selector" id="per_page">
                                <option value="5" {% if per_page == 5%} selected {% endif %}>5</option>
                                <option value="10" {% if per_page == 10%} selected {% endif %}>10</option>
                                <option value="15" {% if per_page == 15%} selected {% endif %}>15</option>
                                <option value="20" {% if per_page == 20%} selected {% endif %}>20</option>
                                <option value="25" {% if per_page == 25%} selected {% endif %}>25</option>
                            </select>
                            페이지당 목록표시
                        </label>
                    </div>
          
                    <div class="datatable-search">
                        <input
                            class="datatable-input"
                            placeholder="Search..."
                            type="search"
                            title="Search within table"
                            aria-controls="datatablesSimple"
                        />
                    </div>
                           
                </div>
                <div class="datatable-container">
                    <table id="datatablesSimple" class="datatable-table">
                        <thead>
                            <tr>
                                <th data-sortable="true" style="width: 5%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">메뉴</a>
                                </th>
                                <th data-sortable="true" style="width: 10%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">메뉴명</a>
                                </th>
                                <th data-sortable="true" style="width: 7%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">상위메뉴</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 7%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">사용여부</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 5%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">등록자</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 12%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">등록일</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 5%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">수정자</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 12%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">수정일</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 10%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">아이콘</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 7%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">메뉴타입</a>
                                    
                                </th>
                                <th data-sortable="true" style="width: 10%" aria-sort="ascending" class="datatable-ascending">
                                    <a href="#" class="datatable-sorter">링크</a>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in menus %}
                                <tr data-index="{{ forloop.counter0 }}">
                                    <td>{{list.menu}}</td>
                                    <td>{{list.menu_name}}</td>
                                    <td>{{list.upper_menu}}</td>
                                    <td>{{list.use_yn}}</td>
                                    <td>{{list.entry_id}}</td>
                                    <td>{{list.entry_date}}</td>
                                    <td>{{list.updat_id}}</td>
                                    <td>{{list.updat_date}}</td>
                                    <td>{{list.icon}}</td>
                                    <td>{{list.menu_type}}</td>
                                    <td>{{list.link}}</td>

                                </tr>
                            {% endfor %}
                      
                        </tbody>
                    </table>
                </div>
                <div>
                    {% for page in pages %}
                      {% if page == current_page %}
                        <strong>{{ page }}</strong>
                      {% else %}
                        <a href="?paging={{ page }}&per_page={{ per_page }}">{{ page }}</a>
                      {% endif %}
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>
</div>    
<script>
    function addMenu(){
        movePage('setting/menu/addMenu')
    }
    $(document).on('change', '#per_page', function() {
        var perPage = $(this).val();
        location.href = location.origin + location.pathname + '?per_page='+ perPage
    });
</script>
{% endblock %}
{% block js %}
    {{block.super}}      
{% endblock js %}