{% extends "base/setting_base.html" %}
{% block content %}
<div class="card mt-3 mx-5">
    <div class="card-header">
        {{title_nm}}
    </div>
    <div class="card-body">
        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
            <div class="datatable-top">
                <form id="scheduleFrm">
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id" value="{{selectData.schedule_master.0.id}}">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-1 text-end" >상품명</span>
                        <input type="text" id="product_name" name="product_name" class="form-control col-sm-5" value="{{selectData.schedule_master.0.product_name}}" >
                        <span class="input-group-text col-sm-1 text-end" >사용여부</span>
                        <input type="text" id="use_yn" name="use_yn" class="form-control col-sm-5" value="{{selectData.schedule_master.0.use_yn}}" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-1 text-center" >여행사</span>
                        <select class="form-control col-5 selectpicker" id="agent" name="agent" data-live-search="true" style="display: none;" onchange="changeAgent()">
                            {% for agent in optionData.agent %}
                            <option value="{{agent.id}}" {% if agent.agent_name == selectData.schedule_master.0.agent %}selected{% endif %}>
                              {{agent.agent_name}}
                            </option>
                            {% endfor %}
                        </select>
                        <span class="input-group-text col-sm-1 text-center" >담당자</span> 
                        <select class="form-control col-5 selectpicker" id="manager" name="manager" data-live-search="true" style="display: none;">
                        </select>
                    </div>
                   
                    상세정보
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-1 text-end" >지역</span>
                        <input type="text" id="location" name="location" class="form-control col-sm-5" value="{{selectData.schedule_master.0.location}}" >
                        <span class="input-group-text col-sm-1 text-center" >출발지</span>
                        <input type="text" id="start" name="start" class="form-control col-sm-5" value="{{selectData.schedule_master.0.start}}" >
                    </div>
                 
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="bus" >버스</label>
                        <textarea id="bus" name="bus" class="form-control col-sm-11" >{{ selectData.schedule_master.0.bus }}</textarea>
                        <button>검색</button>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="entrance" >입장지</label>
                        <textarea id="entrance" class="form-control col-sm-11" name="entrance">{{ selectData.schedule_master.0.entrance }}</textarea>
                        <button>검색</button>
                    </div>
                    <div class="input-group mb-3">
                        식사
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="breakfast" >조식</label>
                        <input type="text" id="breakfast" name="breakfast" class="form-control col-sm-1" value="{{selectData.schedule_master.0.breakfast}}" >
                        <span class="input-group-text col-sm-1 me-2" >회</span>
                        <label class="input-group-text col-sm-1 col-form-label" for="lunch" >중식</label>
                        <input type="text" id="lunch" name="lunch" class="form-control col-sm-1" value="{{selectData.schedule_master.0.lunch}}" >
                        <span class="input-group-text col-sm-1 me-2" >회</span>
                        <label class="input-group-text col-sm-1 col-form-label" for="dinner" >석식</label>
                        <input type="text" id="dinner" name="dinner" class="form-control col-sm-1" value="{{selectData.schedule_master.0.dinner}}" >
                        <span class="input-group-text col-sm-1 me-2" >회</span>
                        <button class="form-control col-sm-1">검색</button>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="special" >특식</label>
                        <textarea id="special" name="special" class="form-control col-sm-11">{{ selectData.schedule_master.0.special }}</textarea>
                    </div>
 
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="option" >옵션</label>
                        <textarea id="option" class="form-control col-sm-11" name="option">{{ selectData.schedule_master.0.option }}</textarea>
                        <button>검색</button>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="shopping" >쇼핑</label>
                        <textarea id="shopping" class="form-control col-sm-11" name="shopping">{{ selectData.schedule_master.0.shopping }}</textarea>
                        <button>검색</button>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-sm-1 text-end" >일정</span>
                        <input type="text" id="night" name="night" class="form-control col-sm-5" value="{{selectData.schedule_master.0.night}}" >
                        <span class="input-group-text col-sm-1 text-center" >박</span>
                        <input type="text" id="day" name="day" class="form-control col-sm-5" value="{{selectData.schedule_master.0.day}}" >
                        <span class="input-group-text col-sm-1 text-center" >일</span>
                        <input type="button" onclick="makeSchedule()" value="생성">
                    </div>
                    <input type="hidden" id="schedule_remark" name="schedule_remark" value="REMARK"> 
                    <!--
                    <div class="input-group mb-3">
                        <label class="input-group-text col-sm-1 col-form-label" for="schedule_remark" >REMARK</label>
                        <textarea id="schedule_remark" class="form-control col-sm-11" name="schedule_remark">{{ selectData.schedule_master.0.schedule_remark }}</textarea>
                    </div>
                    -->
                </form>
                <div class="table-hover table-condensed table-responsive">
                    <table class="table " id="scheduleDetailFrm">
                    
                    </table>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if pageType == 'I' %}
                        <input type="button" value="저장" onclick="saveData('scheduleFrm', 'scheduleDetailFrm')">
                    {% elif pageType == 'U' %}
                        <input type="button" value="수정" onclick="updateData('scheduleFrm', 'scheduleDetailFrm')">
                        <input type="button" value="삭제" onclick="deleteData('scheduleFrm', 'scheduleDetailFrm')">
                    {% endif %}
                        <input type="button" value="목록" onclick="goMenuList()">
                </div>
               
            </div>
        </div>
    </div>
</div>
<script>
$( document ).ready(function() {
    changeAgent();
});

function changeAgent(){
    $("#tmpChangeAgentFrm").remove();
    var frm = makeForm('', 'tmpChangeAgentFrm');
    frm.appendChild(addData('agent', $("#agent").val()));
    document.body.appendChild(frm);
    getAjax('tmpChangeAgentFrm', 'manager', 'changeAgentSucc');
}

function changeAgentSucc(data){
    var select = $("#manager");
    select.selectpicker('destroy');
    select.empty();
    for (var i = 0; i < data.length; i++) {
        console.log(i);
        var option = $('<option>', {
            value: data[i].id,
            text: data[i].manager_name
        });
        select.append(option);
    }

    select.selectpicker();

}
    
function saveData(fName, tName){
    var jsonData = $("#"+fName).serializeArray()
    $.ajax({
        url: 'addDataMaster', // 앞에 자동으로 setting/agent 붙음
        method: 'POST',
        data: jsonData,
        dataType: 'json',
        success: function(data) {
            console.log(data);
            id = data.id
            saveDetail(tName, id);
        },
        error: function(xhr, status, error) {
            alert('등록 실패')
        }
    });
}

function saveDetail(tName, id){
    $('input[name="master_id"]').val(id);

    var tableJson = tableToJson(document.getElementById(tName))


    $.ajax({
        url: 'addDataDetail', // 앞에 자동으로 setting/agent 붙음
        method: 'POST',
        data: JSON.stringify(tableJson),
        headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() }, // CSRF 토큰을 HTTP 헤더에 추가
        dataType: 'json',
        success: function(data) {
            alert('입력 완료 목록 화면으로 이동합니다.')
            goMenuList();
        },
        error: function(xhr, status, error) {
            alert('등록 실패')
        }
    });
}

function updateData(fName, tName){
    var jsonData = $("#"+fName).serializeArray()
    $.ajax({
        url: 'updateData', // 앞에 자동으로 setting/agent 붙음
        method: 'POST',
        data: jsonData,
        dataType: 'json',
        success: function(data) {
            alert('수정성공 메뉴등록 화면으로 이동합니다.')
            goMenuList();
        },
        error: function(xhr, status, error) {
            alert('여행사 수정 실패')
        }
    });
}

function deleteData(fName, tName){
    var jsonData = $("#"+fName).serializeArray()
    $.ajax({
        url: 'deleteData', // 앞에 자동으로 setting/agent 붙음
        method: 'POST',
        data: jsonData,
        dataType: 'json',
        success: function(data) {
            alert('삭제성공 메뉴등록 화면으로 이동합니다.')
            goMenuList();
        },
        error: function(xhr, status, error) {
            alert('메뉴 삭제 실패')
        }
    });
}

function makeSchedule(){
    var table = $("#scheduleDetailFrm");
    var day = $("#day").val()
    // 자식노드 모두 삭제
    table.empty();
    var basic="";
    // 기본 틀 생성
        basic += '<thead>';
        basic += '<tr>';
        basic += '<td name="day">일차</td>';
        basic += '<td name="schedule">일정</td>';
        basic += '<td name="hotel">호텔</td>';
        basic += '<td></td>';
        basic += '</tr>';
        basic += '</thead>';
        table.append(basic);
    
    var sche = '<tbody>';
    for (var i =1 ; i <= day ; i ++ ){
        sche += '<tr>';
        sche += '<td><input type="text" id="day" name="day" class="input-group-text" readonly value="'+i+'일차" ></td>';
        sche += '<td><input type="text" id="schedule" name="schedule" ></td>';
        sche += '<td><input type="text" id="hotel" name="hotel" ></td>';
        sche += '<td><input type="button" class="input-group" value="검색"><input type="hidden" id="master_id" name="master_id" value="{{selectData.schedule_master.0.id}}" ><input type="hidden" id="use_yn" name="use_yn" value="Y" ></td>';
        sche += '</tr>'
    }
    sche +='</tbody>'
    table.append(sche);
}
function tableToJson(table) {
  var data = [];
  var headers = [];

  for (var i = 0; i < table.rows[0].cells.length; i++) {
    var inputElem = table.rows[0].cells[i].querySelector('input[type="text"]');
    if (inputElem) {
      var headerText = inputElem.name;
      headers.push(headerText);
    } else {
      var headerText = table.rows[0].cells[i].getAttribute('name');
      if (headerText) {
        headers.push(headerText);
      }
    }
  }

  for (var i = 1; i < table.rows.length; i++) {
    var tableRow = table.rows[i];
    var rowData = {};

    for (var j = 0; j < tableRow.cells.length; j++) {
      var cellInput = tableRow.cells[j].querySelector('input[type="text"]');
      if (cellInput && headers[j]) {
        if (cellInput =='day' || headers[j] == 'day'){
            rowData[headers[j]] = cellInput.value.replace("일차", "");
        }
        else{
            rowData[headers[j]] = cellInput.value;
        }
      }
      var cellHiddenInputs = tableRow.cells[j].querySelectorAll('input[type="hidden"]');
      if (cellHiddenInputs) {
        for (var k = 0; k < cellHiddenInputs.length; k++) {
          var hiddenInput = cellHiddenInputs[k];
          if (hiddenInput.name) {
            rowData[hiddenInput.name] = hiddenInput.value;
          }
        }
      }
    }

    if (Object.keys(rowData).length > 0) {
      data.push(rowData);
    }
  }

  return data;
}





</script>
{% include 'base/commonValue.html'%} <!-- 공통변수 -->
{% endblock %}
{% block js %}
{{block.super}}      
{% endblock js %}